<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'costunits.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field
          [ngClass]="{ 'ng--valid': formControls.objectType.valid, 'ng--invalid': !formControls.objectType.valid  }">
          <mat-label>{{'costunits.objectType' | translate }}</mat-label>
          <mat-select formControlName="objectType" (selectionChange)="getobjectNumberData()" appFocusOnEnter
            tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cot of cotList" [value]="cot.id">
              {{cot.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.objectType.valid"
            [ngClass]="{ 'ng--invalid': !formControls.objectType.valid  }"> Object Type is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.objectNumber.valid && formControls.objectNumber.status != 'DISABLED',
           'ng--invalid': !formControls.objectNumber.valid && formControls.objectNumber.status != 'DISABLED'  }">
          <mat-label [translate]="'costcenter.phone'"></mat-label>
          <input matInput formControlName="objectNumber"
            appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.objectNumber.valid && formControls.objectNumber.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.objectNumber.valid  }"> Object Number is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'costcenter.phone'"></mat-label>
          <input matInput formControlName="description"
            appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'costunits.costUnitType' | translate }}</mat-label>
          <mat-select formControlName="costUnitType" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let costunit of costunit" [value]="costunit.value">
              {{costunit.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'costunits.perUnitCostBy' | translate }}</mat-label>
          <mat-select formControlName="perUnitCostBy" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let pcostunit of perunitcost" [value]="pcostunit.value">
              {{pcostunit.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'costunits.manufacturingType' | translate }}</mat-label>
          <mat-select formControlName="manufacturingType" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let manufacturing of manufacturing" [value]="manufacturing.value">
              {{manufacturing.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'costunits.material' | translate }}</mat-label>
          <mat-select formControlName="material" appFocusOnEnter tabIndex="6">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let mtype of materialList" [value]="mtype.text">
              {{mtype.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>