<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'ordertype.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.orderType.valid && formControls.orderType.status != 'DISABLED',
           'ng--invalid': !formControls.orderType.valid && formControls.orderType.status != 'DISABLED'  }">
          <mat-label [translate]="'ordertype.orderType'"></mat-label>
          <input matInput formControlName="orderType" maxlength="5"
            appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.orderType.valid && formControls.orderType.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.orderType.valid  }">
            Order Type is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.description.valid, 'ng--invalid': !formControls.description.valid  }">
          <mat-label [translate]="'ordertype.description'"></mat-label>
          <input matInput formControlName="description"
            maxlength="50" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.description.valid"
            [ngClass]="{ 'ng--invalid': !formControls.description.valid  }"> Description is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'ordertype.printText' | translate }}</mat-label>
          <mat-select formControlName="printText" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let print of printText" [value]="print.value">
              {{print.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'ordertype.natureofOrder' | translate }}</mat-label>
          <mat-select formControlName="natureofOrder" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let nature of Natureoforder" [value]="nature.value">
              {{nature.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'ordertype.numberSeriesFrom'"></mat-label>
          <input matInput formControlName="numberSeriesFrom"
            maxlength="7" appFocusOnEnter tabIndex="5">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'ordertype.numberSeriesTo'"></mat-label>
          <input matInput formControlName="numberSeriesTo"
            maxlength="7" appFocusOnEnter tabIndex="6">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'ordertype.costUnit' | translate }}</mat-label>
          <mat-select formControlName="costUnit" appFocusOnEnter tabIndex="6">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let culist of costunitList" [value]="culist.objectNumber">
              {{culist.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>