<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'AlternateControlAccount.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field>
          <mat-label [translate]="'AlternateControlAccount.normalControlAccount'"></mat-label>
          <mat-select formControlName="normalControlAccount" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let nca of glList" [value]="nca.id">
              {{nca.id}} - {{nca.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'AlternateControlAccount.alternativeControlAccount'"></mat-label>
          <mat-select formControlName="alternativeControlAccount" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let acn of glList" [value]="acn.id">
              {{acn.id}} - {{acn.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'AlternateControlAccount.company'"></mat-label>
          <mat-select formControlName="company" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let comp of companyList" [value]="comp.id">
              {{comp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'AlternateControlAccount.chartofAccount'"></mat-label>
          <mat-select formControlName="chartofAccount" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let coa of coaList" [value]="coa.code">
              {{coa.desctiption}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>