<mat-card>

    <mat-card-content>

        <form [formGroup]="formData" autocomplete="off" *ngIf="formData">

            <div class="d--flex p-1 mat-form-field-height">
                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'samplerequisitionform.organization' | translate }}" formControlName="organization"
                        appFocusOnEnter tabIndex="1">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'samplerequisitionform.customercontact' | translate }}" formControlName="customercontact"
                        appFocusOnEnter tabIndex="2">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'samplerequisitionform.solubility' | translate }}</mat-label>
                    <mat-select formControlName="solubility">
                        <mat-option>None</mat-option>
                        <mat-option>MeOh</mat-option>
                        <mat-option>CAN</mat-option>
                        <mat-option>EtOH</mat-option>
                        <mat-option>DCM</mat-option>
                        <mat-option>DMSO</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'samplerequisitionform.submittedfor' | translate }}</mat-label>
                    <mat-select formControlName="submittedfor">
                        <mat-option>None</mat-option>
                        <mat-option>Chiral Analytical Method Development</mat-option>
                        <mat-option>ChiralPreparative Separation</mat-option>
                        <mat-option>Impurity isolation</mat-option>
                        <mat-option>Achiral Purification</mat-option>
                        <mat-option>Peptide Purification</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'samplerequisitionform.objective' | translate }}</mat-label>
                    <mat-select formControlName="objective">
                        <mat-option>None</mat-option>
                        <mat-option>Enantiomer</mat-option>
                        <mat-option>Diasteriomeric</mat-option>
                        <mat-option>Isomeric(cis/trans;positional;etc)</mat-option>
                        <mat-option>Enantiomer + Diasteriomer</mat-option>
                        <mat-option>Enantiomer + Diasteriomer + Imp</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>

        <!--Table-->
<table class="table table-striped w-auto">
    <!--Table head-->
    <thead>
      <tr>
        <th>Id</th>
        <th>Gross Weight</th>
        <th>Tare Weight</th>
        <th>Net Weight</th>
        <th>Column1</th>
        <th>Column2</th>
        <th>Column3</th>
      </tr>
    </thead>
    <!--Table head-->
  
    <!--Table body-->
    <tbody>
      <tr class="table-info">
        <th scope="row">1</th>
        <td>100</td>
        <td>200</td>
        <td>300</td>
        <td>Sample1</td>
        <td>Sample2</td>
        <td>Sample3</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>100</td>
        <td>200</td>
        <td>300</td>
        <td>Sample1</td>
        <td>Sample2</td>
        <td>Sample3</td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->

        <!-- <div>
            <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
            [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table>
        </div> -->

        <div><strong>Sample Information</strong></div>
        <div class="d--flex p-1 mat-form-field-height">
            <mat-form-field class="form-element">
                <mat-label>{{ 'samplerequisitionform.nature' | translate }}</mat-label>
                <mat-select formControlName="nature">
                    <mat-option>None</mat-option>
                    <mat-option>Acidic</mat-option>
                    <mat-option>Basic</mat-option>
                    <mat-option>Neutral</mat-option>
                    <mat-option>Amphoteric</mat-option>
                </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'samplerequisitionform.physicalappearence' | translate }}</mat-label>
                    <mat-select formControlName="physicalappearence">
                        <mat-option>None</mat-option>
                        <mat-option>Solid</mat-option>
                        <mat-option>Semi-Solid</mat-option>
                        <mat-option>Liquid</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{'samplerequisitionform.stabilitydetail' | translate }}" formControlName="stabilitydetail"
                            appFocusOnEnter tabIndex="3">
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{'samplerequisitionform.targetqty' | translate }}" formControlName="targetqty"
                            appFocusOnEnter tabIndex="4">
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{'samplerequisitionform.storagecondition' | translate }}" formControlName="storagecondition"
                            appFocusOnEnter tabIndex="5">
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{'samplerequisitionform.specification' | translate }}" formControlName="specification"
                            appFocusOnEnter tabIndex="6">
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{'samplerequisitionform.safetyinformation' | translate }}" formControlName="safetyinformation"
                            appFocusOnEnter tabIndex="7">
                    </mat-form-field>
                </div>

                <div><strong>DCTI Purpose Only</strong></div>
                <div class="d--flex p-1 mat-form-field-height">
                    <mat-form-field class="form-element">
                        <input matInput [matDatepicker]="picker1" [nonEditable]="picker1"
                            placeholder="{{'samplerequisitionform.receivedDate' | translate }}" formControlName="receivedDate"
                            appFocusOnEnter tabIndex="8">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                            <mat-form-field class="form-element">
                                <input matInput placeholder="{{'samplerequisitionform.internalcode' | translate }}" formControlName="internalcode"
                                    appFocusOnEnter tabIndex="9">
                            </mat-form-field>
        
                            <mat-form-field class="form-element">
                                <input matInput placeholder="{{'samplerequisitionform.lnbrefno' | translate }}" formControlName="lnbrefno"
                                    appFocusOnEnter tabIndex="10">
                            </mat-form-field>
        
                            <mat-form-field class="form-element">
                                <input matInput placeholder="{{'samplerequisitionform.reportrefno' | translate }}" formControlName="reportrefno"
                                    appFocusOnEnter tabIndex="11">
                            </mat-form-field>
        
                            <mat-form-field class="form-element">
                                <input matInput placeholder="{{'samplerequisitionform.analysedby' | translate }}" formControlName="analysedby"
                                    appFocusOnEnter tabIndex="12">
                            </mat-form-field>
        
                            <mat-form-field class="form-element">
                                <input matInput placeholder="{{'samplerequisitionform.analyseddate' | translate }}" formControlName="analyseddate"
                                    appFocusOnEnter tabIndex="13">
                            </mat-form-field>

                            <mat-form-field class="form-element">
                                <input matInput placeholder="{{'samplerequisitionform.remarks' | translate }}" formControlName="remarks"
                                    appFocusOnEnter tabIndex="14">
                            </mat-form-field>
                        </div>
    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end pb-1">

        <button [hidden]="routeEdit != ''" mat-raised-button type="submit" class="button-color-bule mr-3 text-white"
            (click)="save()">
            {{ 'COMMON.SAVE' | translate }}
        </button>
        <button mat-raised-button class="button-color-red text-white mr-3" (click)="back();">
            {{ 'COMMON.BACK' | translate }}
        </button>
        <button [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mr-3"
            (click)="reset();">
            {{ 'COMMON.RESET' | translate }}
        </button>
        <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mr-3"
            (click)="return();">
            {{ 'COMMON.RETURN' | translate }}
        </button>

    </mat-card-content>

</mat-card>