<div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="print()">
        {{ 'COMMON.PRINT' | translate }}
    </button>
</div>
<div style="margin: 10px;" id="printData">
    <div style="display: flex; justify-content: center">
        <h3> {{ data.heading }} </h3>
    </div>
    <div style="display: flex;justify-content: space-between;flex-flow: wrap;margin:15px;">
        <div style="width: 50%;" *ngFor="let item of data.headingObj | keyvalue">
            <b>{{item.key}}</b>: <span>{{item.value}}</span>
        </div>
    </div>
    <div style="margin:15px;" *ngIf="data.detailArray && data.detailArray.length">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th *ngFor="let item of data.detailArray[0] | keyvalue">
                        {{ item.key }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of data.detailArray">
                    <td *ngFor="let item of row | keyvalue"> {{ row[item.key] }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>