<div *ngIf="tableUrl">
  <div *ngIf="tableUrl.coustom">

    <app-table [tableData]="tableData"
               (addOrUpdateEvent)="addOrUpdateEvent($event)">
    </app-table>
  </div>


  <div *ngIf="!tableUrl.coustom && routeParams == 'leaveApproval'">
    <app-leaveapproval></app-leaveapproval>
  </div>

  <div *ngIf="!tableUrl.coustom && routeParams == 'odApproval'">
    <app-odapproval></app-odapproval>
  </div>

  <div *ngIf="!tableUrl.coustom && routeParams == 'advanceApproval'">
    <app-advanceapproval></app-advanceapproval>
  </div>
  <div *ngIf="!tableUrl.coustom && routeParams == 'permissionapproval'">
    <app-permissionapproval></app-permissionapproval>
  </div>
  <div *ngIf="!tableUrl.coustom && routeParams == 'vehicleapproval'">
    <app-vehicleapproval></app-vehicleapproval>
  </div>

  <div *ngIf="!tableUrl.coustom && routeParams == 'CTCBreakup'">
    <app-ctcbreakup></app-ctcbreakup>
  </div>

  <div *ngIf="!tableUrl.coustom && routeParams == 'salaryprocess'">
    <app-salaryprocess></app-salaryprocess>
  </div>
</div>
