<div class="position-relative popup-class">

  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'assignmentoftaxaccountstotaxcodes.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field>
          <mat-label [translate]="'AlternateControlAccount.chartofAccount'"></mat-label>
          <mat-select formControlName="chartofAccount" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let coa of coaList" [value]="coa.code">
              {{coa.desctiption}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'posting.company' | translate }}</mat-label>
          <mat-select formControlName="company" appFocusOnEnter tabIndex="6">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let companyList of compList" [value]="companyList.id">
              {{companyList.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'posting.branch' | translate }}</mat-label>
          <mat-select formControlName="branch" appFocusOnEnter tabIndex="7">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let branch of branchList" [value]="branch.id">
              {{branch.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'posting.plant' | translate }}</mat-label>
          <mat-select formControlName="plant" appFocusOnEnter tabIndex="8">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plants of plantList" [value]="plants.id">
              {{plants.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'assignmentoftaxaccountstotaxcodes.code'"></mat-label>
          <mat-select formControlName="code"
            appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let taxtrnsn of TaxTypeList" [value]="taxtrnsn.id">
              {{taxtrnsn.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'assignmentoftaxaccountstotaxcodes.sgstgl'"></mat-label>
          <mat-select formControlName="sgstgl" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let gl of glList" [value]="gl.id">
              {{gl.id}} - {{gl.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'assignmentoftaxaccountstotaxcodes.cgstgl'"></mat-label>
          <mat-select formControlName="cgstgl" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let gl of glList" [value]="gl.id">
              {{gl.id}} - {{gl.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'assignmentoftaxaccountstotaxcodes.igstgl'"></mat-label>
          <mat-select formControlName="igstgl" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let gl of glList" [value]="gl.id">
              {{gl.id}} - {{gl.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'assignmentoftaxaccountstotaxcodes.ugstgl'"></mat-label>
          <mat-select formControlName="ugstgl" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let gl of glList" [value]="gl.id">
              {{gl.id}} - {{gl.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'assignmentoftaxaccountstotaxcodes.compositeAccount'"></mat-label>
          <mat-select formControlName="compositeAccount" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let gl of glList" [value]="gl.id">
              {{gl.id}} - {{gl.text}}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <mat-divider></mat-divider>

    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter tabIndex="9">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="10">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>