<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'tdsrates.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid &&formControls.code.status != 'DISABLED',
           'ng--invalid': !formControls.code.valid &&formControls.code.status != 'DISABLED' }">
          <mat-label [translate]="'tdsrates.code'"></mat-label>
          <input matInput formControlName="code" maxlength="10"
            appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.code.valid &&formControls.code.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.code.valid  }">Code is
            required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.desctiption.valid, 'ng--invalid': !formControls.desctiption.valid  }">
          <mat-label [translate]="'tdsrates.desctiption'"></mat-label>
          <input matInput formControlName="desctiption"
            maxlength="50" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.desctiption.valid"
            [ngClass]="{ 'ng--invalid': !formControls.desctiption.valid  }">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'tdsrates.tdstype' | translate }}</mat-label>
          <mat-select formControlName="tdstype" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let tdstype of tdsList" [value]="tdstype.tdsCode">
              {{tdstype.tdsCode}} - {{tdstype.desctiption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'tdsrates.incomeType' | translate }}</mat-label>
          <mat-select formControlName="incomeType" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let incm of incmList" [value]="incm.code">
              {{incm.code}} - {{incm.desctiption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'tdsrates.tdsRate'"></mat-label>
          <input matInput formControlName="tdsRate" maxlength="10"
            appFocusOnEnter tabIndex="5">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'tdsrates.baseAmount'"></mat-label>
          <input matInput formControlName="baseAmount"
            maxlength="5" appFocusOnEnter tabIndex="6">
        </mat-form-field>
        <mat-form-field>
          <mat-label [translate]="'tdsrates.status'"></mat-label>
          <mat-select formControlName="status" appFocusOnEnter tabIndex="7">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let ltype of status" [value]="ltype.value">
              {{ltype.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label [translate]="'tdsrates.effectiveFrom'"></mat-label>
          <input matInput [matDatepicker]="picker3" formControlName="effectiveFrom" appFocusOnEnter tabIndex="8">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter tabIndex="9">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="10">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>