<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'primarycostelement.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">


        <mat-form-field
          [ngClass]="{ 'ng--valid': formControls.company.valid, 'ng--invalid': !formControls.company.valid  }">
          <mat-label>{{'primarycostelement.company' | translate }}</mat-label>
          <mat-select formControlName="company" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let company of companiesList" [value]="company.id">
              {{company.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.company.valid" [ngClass]="{ 'ng--invalid': !formControls.company.valid  }">
            Company is
            required</mat-error>
        </mat-form-field>



        <mat-form-field>
          <mat-label>{{'primarycostelement.usage' | translate }}</mat-label>
          <mat-select formControlName="usage" appFocusOnEnter tabIndex="6">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let usage of usage" [value]="usage.value">
              {{usage.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'primarycostelement.element' | translate }}</mat-label>
          <mat-select formControlName="element" appFocusOnEnter tabIndex="7">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let element of element" [value]="element.value">
              {{element.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'primarycostelement.uom' | translate }}</mat-label>
          <mat-select formControlName="uom" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let uom of UomList" [value]="uom.id">
              {{uom.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="qty" (change)="approveOrReject($event.checked)">
          {{(modelFormData.get('qty').value != null) ? 'Quantity' : 'Reject'}}
        </mat-slide-toggle>

      </div>

    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>