<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'openledger.title' | translate }} </span>
    <mat-icon class="p-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field>
          <mat-label>{{'openledger.ledgerKey' | translate }}</mat-label>
          <mat-select formControlName="ledgerKey" appFocusOnEnter tabIndex="1">
            <mat-option *ngFor="let ledger of ledgerList" [value]="ledger.code">
              {{ledger.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker3" placeholder="{{'openledger.financialYearStartFrom' | translate }}"
            formControlName="financialYearStartFrom" appFocusOnEnter tabIndex="2">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker4" placeholder="{{'openledger.financialYearEndTo' | translate }}"
            formControlName="financialYearEndTo" appFocusOnEnter tabIndex="3">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'openledger.accountingYear' | translate }}" formControlName="accountingYear"
            maxlength="4" appFocusOnEnter tabIndex="4">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mr-1" (click)="cancel()" appFocusOnEnter tabIndex="5">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" (click)="save()" appFocusOnEnter
      tabIndex="6">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>