<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'numberrange.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid &&formControls.code.status != 'DISABLED',
           'ng--invalid': !formControls.code.valid  &&formControls.code.status != 'DISABLED' }">
          <mat-label [translate]="'numberrange.code'"></mat-label>
          <input matInput formControlName="code" maxlength="4"
            appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.code.valid  &&formControls.code.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.code.valid  }"> Code
            isrequired</mat-error>

        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'numberrange.rangeFrom'"></mat-label>
          <input matInput formControlName="rangeFrom"
            maxlength="7" (change)="validationcode()" appFocusOnEnter tabIndex="3">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'numberrange.rangeTo'"></mat-label>
          <input matInput formControlName="rangeTo"
            (change)="validationcode()" maxlength="7" appFocusOnEnter tabIndex="4">
        </mat-form-field>

        <mat-checkbox class="mt-5" formControlName="nonNumaric">non Numaric</mat-checkbox>
      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>