<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'assignnumberseries.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field [ngClass]="{ 'ng--valid': formControls.objectType.valid && formControls.objectType.status != 'DISABLED',
          'ng--invalid': !formControls.objectType.valid && formControls.objectType.status != 'DISABLED' }">
          <mat-label>{{'assignnumberseries.objectType' | translate }}</mat-label>
          <mat-select formControlName="objectType" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cot of cotList" [value]="cot.id">
              {{cot.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.objectType.valid && formControls.objectType.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.objectType.valid  }"> Object Type is required</mat-error>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{ 'ng--valid': formControls.numberSeries.valid, 'ng--invalid': !formControls.numberSeries.valid  }">
          <mat-label>{{'assignnumberseries.numberSeries' | translate }}</mat-label>
          <mat-select formControlName="numberSeries" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cs of cnsList" [value]="cs.id">
              {{cs.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.numberSeries.valid"
            [ngClass]="{ 'ng--invalid': !formControls.numberSeries.valid  }"> Number Series is required</mat-error>
        </mat-form-field>


      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>