<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'branches.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto ">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="d--flex">

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.branchCode.valid&& formControls.branchCode.status != 'DISABLED', 
           'ng--invalid': !formControls.branchCode.valid && formControls.branchCode.status != 'DISABLED' }">
          <mat-label [translate]="'branches.branchCode'"></mat-label>
          <input matInput formControlName="branchCode"
            maxlength="5" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.branchCode.valid && formControls.branchCode.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.branchCode.valid  }">Branch Code is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.branchName.valid, 'ng--invalid': !formControls.branchName.valid  }">
          <mat-label [translate]="'branches.branchName'"></mat-label>
          <input matInput formControlName="branchName"
            maxlength="50" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.branchName.valid"
            [ngClass]="{ 'ng--invalid': !formControls.branchName.valid  }">Branch Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'branches.companyCode'"></mat-label>
          <mat-select formControlName="companyCode" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let comp of companyList" [value]="comp.companyCode">
              {{comp.companyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.city'"></mat-label>
          <input matInput formControlName="city" maxlength="50"
            appFocusOnEnter tabIndex="4">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'company.state' | translate }}</mat-label>
          <mat-select formControlName="state" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of stateList" [value]="state.id">
              {{state.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.region' | translate }}</mat-label>
          <mat-select formControlName="region" appFocusOnEnter tabIndex="6">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let rgn of regionsList" [value]="rgn.id">
              {{rgn.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.country' | translate }}</mat-label>
          <mat-select formControlName="country" appFocusOnEnter tabIndex="7">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cntry of countrysList" [value]="cntry.id">
              {{cntry.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.currency' | translate }}</mat-label>
          <mat-select formControlName="currency" appFocusOnEnter tabIndex="8">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cncy of currencyList" [value]="cncy.id">
              {{cncy.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.language' | translate }}</mat-label>
          <mat-select formControlName="language" appFocusOnEnter tabIndex="9">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let lng of languageList" [value]="lng.id">
              {{lng.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.location'"></mat-label>
          <input matInput formControlName="location" maxlength="50"
            appFocusOnEnter tabIndex="10">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.address'"></mat-label>
          <input matInput formControlName="address" maxlength="50"
            appFocusOnEnter tabIndex="11">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.address2'"></mat-label>
          <input matInput formControlName="address2" maxlength="50"
            appFocusOnEnter tabIndex="12">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.pincode'"></mat-label>
          <input matInput formControlName="pincode" maxlength="6"
            appFocusOnEnter tabIndex="13">
        </mat-form-field>

        <mat-form-field
          [ngClass]="{ 'ng--valid': formControls.phone.valid, 'ng--invalid': !formControls.phone.valid  }">
          <mat-label [translate]="'branches.phone'"></mat-label>
          <input matInput formControlName="phone" maxlength="10"
            appFocusOnEnter tabIndex="14">
          <mat-error *ngIf="!formControls.phone.valid" [ngClass]="{ 'ng--invalid': !formControls.phone.valid  }">Phone
            is
            required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.mobile'"></mat-label>
          <input matInput formControlName="mobile" maxlength="10"
            appFocusOnEnter tabIndex="15">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.email'"></mat-label>
          <input matInput formControlName="email" maxlength="50"
            appFocusOnEnter tabIndex="16">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.panno'"></mat-label>
          <input matInput formControlName="panno" maxlength="12"
            appFocusOnEnter tabIndex="17">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.gstno'"></mat-label>
          <input matInput formControlName="gstno" maxlength="20"
            appFocusOnEnter tabIndex="18">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'branches.tanno'"></mat-label>
          <input matInput formControlName="tanno" maxlength="12"
            appFocusOnEnter tabIndex="19">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'branches.responsiblePerson' | translate }}</mat-label>
          <mat-select formControlName="responsiblePerson" appFocusOnEnter tabIndex="20">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let emp of employeesList" [value]="emp.id">
              {{emp.id}} - {{emp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>
  </mat-card-content>

  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter tabIndex="21">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="22">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>

</div>