<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'salesoffice.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto ">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="d--flex">

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid&& formControls.code.status != 'DISABLED',
           'ng--invalid': !formControls.code.valid && formControls.code.status != 'DISABLED' }">
          <mat-label [translate]="'salesoffice.code'"></mat-label>
          <input matInput  formControlName="code" maxlength="5"
            appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.code.valid && formControls.code.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.code.valid  }">Code is
            required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.name.valid, 'ng--invalid': !formControls.name.valid  }">
          <mat-label [translate]="'salesoffice.name'"></mat-label>
          <input matInput formControlName="name" maxlength="50"
            appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.name.valid" [ngClass]="{ 'ng--invalid': !formControls.name.valid  }">Name is
            required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'salesoffice.city'"></mat-label>
          <input matInput formControlName="city" maxlength="50"
            appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'salesoffice.state' | translate }}</mat-label>
          <mat-select formControlName="state" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of stateList" [value]="state.id">
              {{state.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'salesoffice.region' | translate }}</mat-label>
          <mat-select formControlName="region" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let rgn of regionsList" [value]="rgn.id">
              {{rgn.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'salesoffice.country' | translate }}</mat-label>
          <mat-select formControlName="country" appFocusOnEnter tabIndex="6">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cntry of countrysList" [value]="cntry.id">
              {{cntry.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'salesoffice.currency' | translate }}</mat-label>
          <mat-select formControlName="currency" appFocusOnEnter tabIndex="7">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cncy of currencyList" [value]="cncy.id">
              {{cncy.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'salesoffice.language' | translate }}</mat-label>
          <mat-select formControlName="language" appFocusOnEnter tabIndex="8">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let lng of languageList" [value]="lng.id">
              {{lng.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'salesoffice.phone'"></mat-label>
          <input matInput formControlName="phone" maxlength="10"
            appFocusOnEnter tabIndex="9">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'salesoffice.mobile'"></mat-label>
          <input matInput formControlName="mobile" maxlength="10"
            appFocusOnEnter tabIndex="10">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'salesoffice.email'"></mat-label>
          <input matInput formControlName="email" maxlength="50"
            appFocusOnEnter tabIndex="11">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'salesoffice.address1'"></mat-label>
          <input matInput formControlName="address1"
            maxlength="50" appFocusOnEnter tabIndex="12">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'salesoffice.address2'"></mat-label>
          <input matInput formControlName="address2"
            maxlength="50" appFocusOnEnter tabIndex="13">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'salesoffice.responsiblePerson' | translate }}</mat-label>
          <mat-select formControlName="responsiblePerson" appFocusOnEnter tabIndex="14">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let emp of employeesList" [value]="emp.id">
              {{emp.id}} - {{emp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>
  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter tabIndex="15">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="16">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>