<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'country.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.countryCode.valid&& formControls.countryCode.status != 'DISABLED', 
           'ng--invalid': !formControls.countryCode.valid && formControls.countryCode.status != 'DISABLED' }">
          <mat-label [translate]="'country.countryCode'"></mat-label>
          <input matInput formControlName="countryCode"
            appFocusOnEnter tabIndex="1" maxlength="6">
          <mat-error *ngIf="!formControls.countryCode.valid && formControls.countryCode.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.countryCode.valid  }">Country Code is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.countryName.valid, 'ng--invalid': !formControls.countryName.valid  }">
          <mat-label [translate]="'country.countryName'"></mat-label>
          <input matInput formControlName="countryName"
            appFocusOnEnter tabIndex="2" maxlength="50">
          <mat-error *ngIf="!formControls.countryName.valid"
            [ngClass]="{ 'ng--invalid': !formControls.countryName.valid  }">Country Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'country.language' | translate }}</mat-label>
          <mat-select formControlName="language" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let lng of languageList" [value]="lng.languageCode">
              {{lng.languageName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'country.currency' | translate }}</mat-label>
          <mat-select formControlName="currency" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cncy of currencyList" [value]="cncy.currencySymbol">
              {{cncy.currencyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-divider></mat-divider>

      <div class="form-element p-2 d-flex justify-content-end">
        <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter
          tabIndex="5">
          {{ 'COMMON.CANCEL' | translate }}
        </button>

        <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()"
          appFocusOnEnter tabIndex="6">
          {{ 'COMMON.SAVE' | translate }}
        </button>

      </div>

    </form>

  </mat-card-content>
</div>