<div class="bg-white">


  <mat-tab-group>

    <form [formGroup]="modelFormData" autocomplete="off">

      <mat-tab label="{{'assetbegningacqusition.title' | translate }}">

        <mat-card-content class="py-5 p-2 m-0">

          <div class="d--flex">

            <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid && formControls.code.status != 'DISABLED',
                       'ng--invalid': !formControls.code.valid && formControls.code.status != 'DISABLED' }">
              <mat-label [translate]="'assetbegningacqusition.code'"></mat-label>
              <input matInput formControlName="code" maxlength="6" appFocusOnEnter tabIndex="2">
              <mat-error *ngIf="!formControls.code.valid && formControls.code.status != 'DISABLED'"
                [ngClass]="{ 'ng--invalid': !formControls.code.valid  }"> Code is
                required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'assetbegningacqusition.mainAssetNo'"></mat-label>
              <mat-select formControlName="mainAssetNo" appFocusOnEnter tabIndex="1">
                <mat-option *ngFor="let mam of mamList" [value]="mam.assetNumber">
                  {{mam.assetNumber}}- {{mam.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field>
              <mat-label>{{'assetbegningacqusition.subAssetNo' | translate }}</mat-label>
              <mat-select formControlName="subAssetNo" appFocusOnEnter tabIndex="2">
                <mat-option *ngFor="let sa of saList" [value]="sa.subAssetNumber">
                  {{sa.subAssetNumber}} - {{sa.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'assetbegningacqusition.acquisitionDate'"></mat-label>
              <input matInput [matDatepicker]="picker4" [nonEditable]="picker4" 
                formControlName="acquisitionDate" appFocusOnEnter tabIndex="3">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'assetbegningacqusition.acquisitionCost'"></mat-label>
              <input matInput
                formControlName="acquisitionCost" maxlength="7" appFocusOnEnter tabIndex="4">
            </mat-form-field>

          </div>

        </mat-card-content>

      </mat-tab>
      <mat-tab label="Accumulated Depreciation">
        <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
          [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table>
      </mat-tab>
    </form>

  </mat-tab-group>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter tabIndex="21">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="22">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>

</div>