<mat-card>

    <mat-card-content>

        <form [formGroup]="formData" autocomplete="off" *ngIf="formData">

            <h3>
                Header Section
                <hr>
            </h3>

            <div class="d--flex p-1 mat-form-field-height">

                <mat-form-field class="form-element">
                    <mat-label>{{ 'goodsreceipts.purchaseOrderNo' | translate }}</mat-label>
                    <mat-select formControlName="purchaseOrderNo" (selectionChange)="ponoselect()" tabIndex="1">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let poNo of purchaseordernoList" [value]="poNo.id">
                            {{poNo.id}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'goodsreceipts.company' | translate }}</mat-label>
                    <mat-select formControlName="company" tabIndex="2">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field>
                    <mat-label>{{'goodsreceipts.plant' | translate }}</mat-label>
                    <mat-select formControlName="plant" appFocusOnEnter tabIndex="12">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let pnt of plantList" [value]="pnt.plantCode">
                            {{pnt.plantCode}} - {{pnt.plantname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->


                <!-- <mat-form-field class="form-element">
                    <mat-label>{{ 'goodsreceipts.branch' | translate }}</mat-label>
                    <mat-select formControlName="branch">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                            {{branch.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->


                <mat-form-field>
                    <mat-label>{{'goodsreceipts.profitCenter' | translate }}</mat-label>
                    <mat-select formControlName="profitCenter" appFocusOnEnter tabIndex="3">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let pft of profitCenterList" [value]="pft.code">
                            {{pft.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <!-- <mat-form-field>
                    <mat-label [translate]="'goodsreceipts.supplierCode'"></mat-label>
                    <mat-select formControlName="supplierCode" appFocusOnEnter tabIndex="2">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let bptype of bpaList" [value]="bptype.bpnumber">
                            {{bptype.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.supplierReferenceNo'"></mat-label>
                    <input matInput type="text" formControlName="supplierReferenceNo" appFocusOnEnter tabIndex="4">
                </mat-form-field>



                <!-- <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.rrno'"></mat-label>
                    <input matInput type="number"  formControlName="rrno" appFocusOnEnter tabIndex="2">
                </mat-form-field> -->

                <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.vehicleNo'"></mat-label>
                    <input matInput type="text" formControlName="vehicleNo" appFocusOnEnter tabIndex="5">
                </mat-form-field>

                <!-- <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.supplierGinno'"></mat-label>
                    <input matInput type="number" formControlName="supplierGinno" appFocusOnEnter tabIndex="2">
                </mat-form-field> -->


                <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.receivedDate'"></mat-label>
                    <input matInput [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="receivedDate"
                        appFocusOnEnter tabIndex="6">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'goodsreceipts.receivedBy' | translate }}</mat-label>
                    <mat-select formControlName="receivedBy" appFocusOnEnter tabIndex="7">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let emp of employeesList" [value]="emp.id">
                            {{emp.id}}-{{emp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <!-- <mat-form-field>
                    <mat-label>{{'goodsreceipts.movementType' | translate }}</mat-label>
                    <mat-select formControlName="movementType" appFocusOnEnter tabIndex="6">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let movement of movementList" [value]="movement.code">
                            {{movement.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'goodsreceipts.storageLocation' | translate }}</mat-label>
                    <mat-select formControlName="storageLocation" appFocusOnEnter tabIndex="4">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let stloc of stlocList" [value]="stloc.code">
                            {{stloc.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.grnno'"></mat-label>
                    <input matInput type="number" formControlName="grnno" appFocusOnEnter tabIndex="2">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.grndate'"></mat-label>
                    <input matInput [matDatepicker]="picker3" [nonEditable]="picker3" (dateChange)="grndatechange()"
                        formControlName="grndate" appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field> -->

                <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.customerName'"></mat-label>
                    <input matInput type="text" formControlName="customerName" appFocusOnEnter tabIndex="8">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.totalAmount'"></mat-label>
                    <input matInput type="number" formControlName="totalAmount" appFocusOnEnter tabIndex="9">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'goodsreceipts.lotNo'"></mat-label>
                    <input matInput type="text" formControlName="lotNo" appFocusOnEnter tabIndex="10">
                </mat-form-field>

                <div *ngIf="formData.value.documentURL" class="d-flex flex-column mt-3">
                    <mat-label [translate]="'saleorder.attachedUrl'"></mat-label>
                    <a [href]="url" download target="_blank"> <b> {{ formData.value.documentURL }} </b> </a>
                </div>
                <div *ngIf="!formData.value.documentURL">
                    <app-file-upload [type]="'card'" (emitFilesList)="emitFilesList($event)"></app-file-upload>
                </div>


                <!-- <mat-slide-toggle formControlName="qualityCheck" (change)="approveOrReject($event.checked)">
                    {{(formData.get('qualityCheck').value != null) ? 'QuantityCheck' : 'Reject'}}
                </mat-slide-toggle> -->

            </div>

        </form>

        <div class="p-2 card">

            <h3>
                Detail Section
                <hr>
            </h3>

            <form [formGroup]="formData1" autocomplete="off">



                <div class="d--flex p-1 mat-form-field-height justify-content-between align-items-end">

                    <div>

                        <mat-form-field class="form-element">
                            <mat-label>{{ 'goodsreceipts.materialCode' | translate }}</mat-label>
                            <mat-select formControlName="materialCode" tabIndex="11" (selectionChange)="materialCodeChange()">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let material of materialCodeList" [value]="material">
                                    {{material}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <mat-label [translate]="'goodsreceipts.receivedQty'"></mat-label>
                            <input matInput type="number" formControlName="receivedQty" appFocusOnEnter tabIndex="12">
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <mat-label [translate]="'goodsreceipts.rejectQty'"></mat-label>
                            <input matInput type="number" formControlName="rejectQty" appFocusOnEnter tabIndex="13">
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <mat-label [translate]="'goodsreceipts.description'"></mat-label>
                            <input matInput type="text" formControlName="description" appFocusOnEnter tabIndex="14">
                        </mat-form-field>
                        <mat-form-field class="form-element">
                            <mat-label [translate]="'goodsreceipts.netWeight'"></mat-label>
                            <input matInput readonly type="text" formControlName="netWeight" appFocusOnEnter tabIndex="15">
                        </mat-form-field>
                        <mat-form-field class="form-element">
                            <mat-label [translate]="'goodsreceipts.qty'"></mat-label>
                            <input matInput type="text" readonly formControlName="qty" appFocusOnEnter tabIndex="16">
                        </mat-form-field>
                    </div>


                    <div class="mb-3">

                        <button mat-raised-button type="submit" class="button-color-bule mx-1 text-white"
                            (click)="saveForm()">
                            {{ 'COMMON.ADD' | translate }}
                        </button>
                        <button mat-raised-button class="button-color-red text-white mx-1" (click)="resetForm();">
                            {{ 'COMMON.RESET' | translate }}
                        </button>

                    </div>


                </div>

            </form>

            <div>
                <app-table class="table-css" [tableData]="tableData" [showFilters]="false"
                    (editOrDeleteEvent)="editOrDeleteEvent($event)">
                </app-table>
            </div>
        </div>

    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="save()">
            {{ 'COMMON.SAVE' | translate }}
        </button>
        <button mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
            {{ 'COMMON.BACK' | translate }}
        </button>
        <button [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="reset();">
            {{ 'COMMON.RESET' | translate }}
        </button>
        <!-- <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mx-3"
            (click)="return();">
            {{ 'COMMON.RETURN' | translate }}
        </button> -->

    </mat-card-content>

</mat-card>