<mat-card>

    <mat-card-content>

        <form [formGroup]="formData" autocomplete="off">

            <div class="d--flex p-1 mat-form-field-height">

                <mat-form-field class="form-element">
                    <mat-label>{{ 'journals.company' | translate }}</mat-label>
                    <mat-select formControlName="company">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'journals.branch' | translate }}</mat-label>
                    <mat-select formControlName="branch">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                            {{branch.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'journals.voucherType' | translate }}</mat-label>
                    <mat-select formControlName="voucherType"
                        (selectionChange)="voucherTypeSelect(); voucherNoCalculate();">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let type of voucherTypeList" [value]="type.voucherTypeId">
                            {{type.voucherTypeName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'journals.voucherNumber' | translate }}"
                        formControlName="voucherNumber" appFocusOnEnter tabIndex="2">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput [matDatepicker]="picker1" placeholder="{{'journals.voucherDate' | translate }}"
                        formControlName="voucherDate" appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput [matDatepicker]="picker2" placeholder="{{'journals.postingDate' | translate }}"
                        formControlName="postingDate" appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <!-- <mat-form-field class="form-element">
                    <mat-label>{{ 'journals.transactionType' | translate }}</mat-label>
                    <mat-select formControlName="transactionType">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let trans of transactionTypeList" [value]="trans">
                            {{ trans }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'journals.natureofTransaction' | translate }}</mat-label>
                    <mat-select formControlName="natureofTransaction">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let nature of natureofTransactionList" [value]="nature">
                            {{ nature }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'journals.account' | translate }}</mat-label>
                    <mat-select formControlName="account">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let acc of accountList" [value]="acc.id">
                            {{ acc.id }} - {{acc.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'journals.referenceNo' | translate }}" formControlName="referenceNo"
                        appFocusOnEnter tabIndex="2">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput [matDatepicker]="picker4" placeholder="{{'journals.referenceDate' | translate }}"
                        formControlName="referenceDate" appFocusOnEnter tabIndex="4">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <!-- <mat-form-field class="form-element">
                    <mat-label>{{ 'journals.profitCenter' | translate }}</mat-label>
                    <mat-select formControlName="profitCenter">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let profCen of profitCenterList" [value]="profCen.id">
                            {{profCen.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>{{ 'journals.segment' | translate }}</mat-label>
                    <mat-select formControlName="segment">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let segm of segmentList" [value]="segm.id">
                            {{segm.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="form-element">
                    <input matInput placeholder="{{'journals.narration' | translate }}" formControlName="narration"
                        appFocusOnEnter tabIndex="2">
                </mat-form-field>
            </div>
        </form>

        <div>
            <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
                (emitTableData)="emitTableData($event)"></app-dynamic-table>
        </div>


    </mat-card-content>

    <mat-card-content class="d-flex justify-content-between pb-1">

        <div class="d-flex">
            <div class="px-1"> <span class="px-1">{{'Total Debit Amount' | translate }}</span> : <strong>{{ debitValue }} </strong></div>
            <div class="px-1"> <span class="px-1">{{'Total Credit Amount' | translate }}</span> : <strong> {{ creditValue}} </strong></div>
            <div class="px-1"> <span class="px-1">{{'Total Tax Amount' | translate }}</span> : <strong> {{ totalTaxValue}} </strong></div>
        </div>

        <div>
            <button [hidden]="routeEdit != ''" [disabled]="checkCreditDebit()" mat-raised-button type="submit" class="button-color-bule mr-3 text-white"
                (click)="save()">
                {{ 'COMMON.SAVE' | translate }}
            </button>
            <button [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mr-3"
                (click)="reset();">
                {{ 'COMMON.RESET' | translate }}
            </button>
            <button mat-raised-button class="button-color-red text-white mr-3" (click)="back();">
                {{ 'COMMON.BACK' | translate }}
            </button>
            <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mr-3"
                (click)="return();">
                {{ 'COMMON.RETURN' | translate }}
            </button>
        </div>

    </mat-card-content>

</mat-card>