<div style="margin: 10px;" *ngIf="data" id="inspectionPrintData">
  <div style="display: flex;">
    <img src="/assets/images/header.jpg" style="height: 100px;
      width: 65%;">
    <div style="padding: 24px;
      border-top: 1px solid black;
      -webkit-print-color-adjust: exact;
      background: rgb(22 106 132) !important;
      color: white;
      font-size: 20px;
      width: 35%;
      align-items: center;
      justify-content: space-around;
      display: flex;
      height: 50px;
  "> {{ data.heading }} </div>
  </div>

  <div style="border-top: 1px solid black; display: flex;">
    <div style="width: 50%;padding-left: 15px;border-right: 1px solid black;">
      <b> Customer Name </b>
      <span style="padding-left: 80px;">: {{ data?.headingObj?.supplierName }} </span>
    </div>
    <div style="width: 50%;padding-left: 15px;">
      <b> Item Description </b>
      <span style="padding-left: 80px;">: {{ data?.headingObj?.description }} </span>
    </div>
  </div>

  <div style="border-top: 1px solid black; display: flex;">
    <div style="width: 25%;padding-left: 15px;border-right: 1px solid black;">
      <b> Invoice Number </b>
      <span style="padding-left: 80px;">: </span>
    </div>
    <div style="width: 25%;padding-left: 15px;border-right: 1px solid black;">
      <b> PO Number </b>
      <span style="padding-left: 80px;">: {{ data?.headingObj?.poNumber }} </span>
    </div>
    <div style="width: 25%;padding-left: 15px;border-right: 1px solid black;">
      <b> Heat Number </b>
      <span style="padding-left: 80px;">: {{ data?.headingObj?.heatNumber }} </span>
    </div>
    <div style="width: 25%;padding-left: 15px;">
      <b> Report Date </b>
      <span style="padding-left: 80px;">: {{ date | date }} </span>
    </div>
  </div>

  <div style="border-top: 1px solid black; display: flex;">
    <div style="width: 25%;padding-left: 15px;border-right: 1px solid black;">
      <b> Invoice Date </b>
      <span style="padding-left: 80px;">: </span>
    </div>
    <div style="width: 25%;padding-left: 15px;border-right: 1px solid black;">
      <b> PO Date </b>
      <span style="padding-left: 80px;">: {{ data?.headingObj?.poDate | date }} </span>
    </div>
    <div style="width: 25%;padding-left: 15px;border-right: 1px solid black;">
      <b> Part/Drg No </b>
      <span style="padding-left: 80px;">: {{ data?.headingObj?.drgNo }} </span>
    </div>
    <div style="width: 25%;padding-left: 15px;">
      <b> Drawing Rev. No </b>
      <span style="padding-left: 80px;">: </span>
    </div>
  </div>

  <div style="border-top: 1px solid black; display: flex;">
    <div style="width: 25%;padding-left: 15px;border-right: 1px solid black;">
      <b> Invoice Quantity </b>
      <span style="padding-left: 80px;">: </span>
    </div>
    <div style="width: 25%;padding-left: 15px;border-right: 1px solid black;">
      <b> PO Quantity </b>
      <span style="padding-left: 80px;">: </span>
    </div>
    <div style="width: 25%;padding-left: 15px">
      <!-- <b> Page </b>
          <span style="padding-left: 80px;">: {{ data?.headingObj?.purchaseOrderNumber }} </span> -->
    </div>
    <div style="width: 25%;padding-left: 15px;">

    </div>
  </div>



  <div style="border-top: 1px solid black;border-bottom: 1px solid black;-webkit-print-color-adjust: exact;"
    *ngIf="data.detailArray && data.detailArray.length">
    <table style="width: 100%;text-align: center; font-size: 14px;-webkit-print-color-adjust: exact;">
      <thead>
        <tr>
          <th style="border-right: 1px solid black; -webkit-print-color-adjust: exact;"> S.No </th>
          <th style="border-right: 1px solid black; -webkit-print-color-adjust: exact;"> Parameter </th>
          <th style="border-right: 1px solid black; -webkit-print-color-adjust: exact;"> Specification </th>
          <th style="border-right: 1px solid black; -webkit-print-color-adjust: exact;"> UOM </th>
          <th style="border-right: 1px solid black; -webkit-print-color-adjust: exact;"> Instrument </th>
          <ng-container *ngFor="let row of data.detailArray[0] | keyvalue; let i = index">
            <th style="border-right: 1px solid black; -webkit-print-color-adjust: exact;"
              *ngIf="row.key != 'Parameter' && row.key != 'Specification' && row.key != 'UOM' && row.key != 'Instrument'">
              {{ row.key }}
            </th>
          </ng-container>
          <!-- <th style="border-right: 1px solid black; -webkit-print-color-adjust: exact;"> Remarks </th> -->
          <th> Remarks </th>
        </tr>
      </thead>
      <tbody>
        <tr style="border-top: 1px solid black;-webkit-print-color-adjust: exact;"
          *ngFor="let row of data.detailArray; let i = index">
          <td style="border-right: 1px solid black;-webkit-print-color-adjust: exact;"> {{ i + 1 }} </td>
          <td style="border-right: 1px solid black;-webkit-print-color-adjust: exact;"> {{ row.Parameter }}
          </td>
          <td style="border-right: 1px solid black;-webkit-print-color-adjust: exact;"> {{ row.Specification
            }} </td>
          <td style="border-right: 1px solid black;-webkit-print-color-adjust: exact;"> {{ row.UOM }} </td>
          <td style="border-right: 1px solid black;-webkit-print-color-adjust: exact;"> {{ row.Instrument }}
          </td>
          <ng-container *ngFor="let cell of row | keyvalue; let i = index">

            <td
              *ngIf="cell.key != 'Parameter' && cell.key != 'Specification' && cell.key != 'UOM' && cell.key != 'Instrument'"
              style="border-right: 1px solid black;-webkit-print-color-adjust: exact;"> {{ cell.value }}
            </td>
          </ng-container>
          <td> {{ row.description }} </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div style="border-top: 1px solid black;border-bottom: 1px solid black; display: flex;margin-top: 20px;">
    <div style="width: 33.33%;padding-left: 15px;border-right: 1px solid black;">
      <b> Prepared By : </b>
      <span style="padding-left: 80px;">: </span>
    </div>
    <div style="width: 33.33%;padding-left: 15px;border-right: 1px solid black;">
      <b> Checked By : </b>
      <span style="padding-left: 80px;">: </span>
    </div>
    <div style="width: 33.33%;padding-left: 15px">
      <b> Approved By : </b>
      <span style="padding-left: 80px;">: </span>
    </div>
  </div>


</div>
<div style="margin: 10px;" *ngIf="balanceCertificateData" id="balanceCertificatePrintData">
  <div style="display: flex;">
    <img src="/assets/images/header.jpg" style="height: 100px;
      width: 65%;">
    <div style="padding: 24px;
      border-top: 1px solid black;
      -webkit-print-color-adjust: exact;
      background: rgb(22 106 132) !important;
      color: white;
      font-size: 20px;
      width: 35%;
      align-items: center;
      justify-content: space-around;
      display: flex;
      height: 50px;
  "> {{ balanceCertificateData.heading }} </div>
  </div>

  <div style="display: flex;margin-top: 10px;">
    <div style="width: 50%;padding-left: 15px;display: flex;">
      <div style="width: 150px;"><b> Customer Name </b></div>
      <div style="padding-left: 80px;">: {{ balanceCertificateData?.headingObj?.supplierName }}  </div>
    </div>
    <div style="width: 50%;padding-left: 15px;display: flex;">
      <div style="width: 150px;"><b> Date </b></div>
      <div style="padding-left: 80px;">: {{ balanceCertificateData?.headingObj?.poDate | date }}</div>
    </div>
  </div>
  <div style="display: flex;margin-top: 10px;">
    <div style="width: 50%;padding-left: 15px;display: flex;">
      <div style="width: 150px;"><b> Description </b></div>
      <div style="padding-left: 80px;">: {{ balanceCertificateData?.headingObj?.description }} </div>
    </div>
    <div style="width: 50%;padding-left: 15px;display: flex;">
      <div style="width: 150px;"><b> Reference No. </b></div>
      <div style="padding-left: 80px;">: NA </div>
    </div>
  </div>
  <div style="display: flex;margin-top: 10px;">
    <div style="width: 50%;padding-left: 15px;display: flex;">
      <div style="width: 150px;"><b> Part/Drg No. </b></div>
      <div style="padding-left: 80px;">: NA </div>
    </div>
    <div style="width: 50%;padding-left: 15px;display: flex;">
      <div style="width: 150px;"><b> AMT Item Code </b></div>
      <div style="padding-left: 80px;">:  </div>
    </div>
  </div>


  <div style="border-top: 1px solid black;border-bottom: 1px solid black;">

    <div style="margin: 50px 75px">
      <ol>
        <li *ngFor="let arr of balanceCertificateData?.detailArray" style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> {{ arr.parameter }} </b> </div> <div> : {{ arr.result }} </div> </div> </li>
        <!-- <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> Service RPM </b> </div> <div> : 24323 </div> </div> </li>
        <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> Job Weight </b> </div> <div> : 24323 </div> </div> </li>
        <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> Balancing Speed RPM </b> </div> <div> : 24323 </div> </div> </li>
        <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> Unbalance Tolerance </b> </div> <div> : 24323 </div> </div> </li>
        <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 195px;"><b> Plane Seperation </b> </div> <div> <ol>
         <li style="padding-bottom: 7px;"> 175 mm </li>
          <li style="padding: 7px;"> 213 mm </li>
          <li style="padding: 7px;"> 200 mm </li>
        </ol> </div></div>  </li>
        <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> Radius Correction </b> </div> <div> : 24323 </div> </div> </li>
        <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> Mode of Correction </b> </div> <div> : 24323 </div> </div> </li>
        <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> Initial Unbalance Plane 1 </b> </div> <div> : 24323 </div> </div> </li>
        <div style="display: flex;margin: 7px;"> <div style="width: 220px;"><b> Initial Unbalance Plane 2 </b> </div> <div> : 24323 </div> </div>
        <li style="padding: 7px;"> <div style="display: flex;"><div style="width: 220px;"><b> Couple Final Unbalance </b> </div> <div> : 24323 </div> </div> </li> -->
      </ol>
      
          <div style="margin:10px 15px"><b>The above values are well within Limits.</b></div>
          <div style="margin:10px 15px"><b>Reference Standard : ISO 1940-2003(E)</b></div>
    </div>



    <div style="display: flex;margin: 20px;justify-content: space-around;">
      <div style="padding-left: 15px">
        <b> Operator </b>
      </div>
      <div style="padding-left: 15px">
        <b> Q.C. Inspector </b>
      </div>
    </div>

  </div>


  <div style="text-align: center;">
    <img src="/assets/images/footer.jpg" style="height: 100px;
    width: 30%;margin: 25px;">
    <div> <b> An ISO 9001:2015 Certified Company </b> </div>
</div>




</div>

<mat-card>

  <mat-card-content class="mb-2">

    <h6>
      SaleOrder Details
      <hr>
    </h6>

    <!-- <form [formGroup]="formData" autocomplete="off">

      <div class="d--flex p-1 mat-form-field-height">

        <mat-form-field class="form-element">
          <mat-label>{{ 'inspectioncheck.company' | translate }}</mat-label>
          <mat-select formControlName="company" tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let comp of companyList" [value]="comp.id">
              {{comp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'inspectioncheck.plant' | translate }}</mat-label>
          <mat-select formControlName="plant" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plant of plantList" [value]="plant.id">
              {{plant.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'inspectioncheck.branch' | translate }}</mat-label>
          <mat-select formControlName="branch" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let branch of branchList" [value]="branch.id">
              {{branch.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'inspectioncheck.department' | translate }}</mat-label>
          <mat-select formControlName="department" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let dept of fdeptList" [value]="dept.code">
              {{dept.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label [translate]="'inspectioncheck.project'"></mat-label>
          <mat-select formControlName="project" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let costUnit of costunitList" [value]="costUnit.id">
              {{costUnit.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'inspectioncheck.bomorderNumber'"></mat-label>
          <input matInput formControlName="bomorderNumber" appFocusOnEnter tabIndex="7">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'inspectioncheck.requisitionNmber'"></mat-label>
          <input matInput formControlName="requisitionNmber" appFocusOnEnter tabIndex="7">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'inspectioncheck.requisitionDate'"></mat-label>
          <input matInput [matDatepicker]="picker1" [nonEditable]="picker1"  formControlName="requisitionDate"
            appFocusOnEnter tabIndex="3">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>



      </div>
    </form> -->

    <div>
      <!-- <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
        [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table> -->
      <app-table class="table-css" [tableData]="tableData" [showButtons]="false" (onEditEmit)="onEditEmit($event)">
      </app-table>
    </div>


  </mat-card-content>

  <mat-card-content>

    <h6>
      Production Details
      <hr>
    </h6>

    <form [formGroup]="formData1" autocomplete="off" *ngIf="tableData1 && tableData1.length">



      <div class="d-flex p-1 mat-form-field-height justify-content-between align-items-end">


        <div>

          <mat-form-field>
            <mat-label>{{'inspectioncheck.completionDate' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="completionDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'inspectioncheck.status' | translate }}</mat-label>
            <mat-select formControlName="status" appFocusOnEnter tabIndex="3">
              <mat-option>None</mat-option>
              <mat-option value="Passed"> Passed </mat-option>
              <mat-option value="Rejected"> Rejected </mat-option>
              <mat-option value="Move To Production"> Move To Production </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-slide-toggle formControlName="inspectionTypeValue" (change)="approveOrReject()">
            {{(formData1.get('inspectionTypeValue').value) ? 'Sampling Inspection' : '100% Inspection'}}
          </mat-slide-toggle>

          <mat-form-field>
            <mat-label>{{'inspectioncheck.completedBy' | translate }}</mat-label>
            <mat-select formControlName="completedBy" appFocusOnEnter tabIndex="2">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let emp of employeesList" [value]="emp.text">
                {{emp.id}}- {{emp.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-label [translate]="'inspectioncheck.description'"></mat-label>
            <input matInput formControlName="description" appFocusOnEnter tabIndex="3">
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-label [translate]="'inspectioncheck.heatNumber'"></mat-label>
            <input matInput formControlName="heatNumber" appFocusOnEnter tabIndex="4">
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-label [translate]="'inspectioncheck.partDrgNo'"></mat-label>
            <input matInput formControlName="partDrgNo" appFocusOnEnter tabIndex="5">
          </mat-form-field>

          <!-- <mat-form-field>
                        <mat-label>{{'inspectioncheck.typeofWork' | translate }}</mat-label>
                        <mat-select formControlName="typeofWork" appFocusOnEnter tabIndex="1">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let emp of citemList" [value]="emp.description">
                                {{emp.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'inspectioncheck.allocatedPerson' | translate }}</mat-label>
                        <mat-select formControlName="allocatedPerson" appFocusOnEnter tabIndex="2">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let emp of employeesList" [value]="emp.text">
                                {{emp.id}}- {{emp.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'inspectioncheck.mechine' | translate }}</mat-label>
                        <mat-select formControlName="mechine" appFocusOnEnter tabIndex="3">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let emp of mechenaryList" [value]="emp.description">
                                {{emp.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'inspectioncheck.startDate' | translate }}</mat-label>

                        <input matInput [matDatepicker]="picker1" tabIndex="4"
                            placeholder="{{'inspectioncheck.startDate' | translate }}" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'inspectioncheck.endDate' | translate }}</mat-label>

                        <input matInput [matDatepicker]="picker2" tabIndex="5"
                            placeholder="{{'inspectioncheck.endDate' | translate }}" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="form-element">
                        <mat-label [translate]="'inspectioncheck.remarks'"></mat-label>
                        <input matInput formControlName="remarks" appFocusOnEnter tabIndex="4">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'inspectioncheck.workStatus' | translate }}</mat-label>
                        <mat-select formControlName="workStatus" appFocusOnEnter tabIndex="3">
                            <mat-option>None</mat-option>
                            <mat-option value="Assigned"> Assigned </mat-option>
                            <mat-option value="In Progress"> In Progress </mat-option>
                            <mat-option value="Completed"> Completed </mat-option>
                            <mat-option value="Rejected"> Rejected </mat-option>
                            <mat-option value="Assigned to QC"> Assigned to QC </mat-option>
                        </mat-select>
                    </mat-form-field> -->
        </div>




      </div>
      <!-- <div class="mb-3 d-flex justify-content-end">

        <button mat-raised-button type="submit" class="button-color-bule mx-1 text-white" (click)="saveForm()">
          {{ 'COMMON.UPDATE' | translate }}
        </button>
        <button mat-raised-button class="button-color-red text-white mx-1" (click)="resetForm();">
          {{ 'COMMON.RESET' | translate }}
        </button>

      </div> -->

    </form>

    <div>
      <app-table #tableRef class="table-css" [tableData]="tableData1" [showButtons]="false"
        (editOrDeleteEvent)="editOrDeleteEvent($event)" (tableButtonEvent)="tableButtonEvent($event)"
        (tableCheckboxEvent)="tableCheckboxEvent($event)">
      </app-table>
    </div>


  </mat-card-content>
  <mat-card-content class="d-flex justify-content-end py-1">

    <div>
      <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="print()">
        {{ 'inspectioncheck.INSPECTIONPRINT' | translate }}
      </button>
      <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white"
        (click)="balanceingCertificatePrint()">
        {{ 'inspectioncheck.BALANCECERTIFICATEPRINT' | translate }}
      </button>
      <!-- <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="balanceCertificate()">
        {{ 'inspectioncheck.balancecertificate' | translate }}
      </button> -->
      <!-- <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="inspectioncheck()">
        {{ 'inspectioncheck.inspectioncheck' | translate }}
      </button> -->
      <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="save()">
        {{ 'COMMON.SAVE' | translate }}
      </button>
      <button [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3" (click)="reset();">
        {{ 'COMMON.RESET' | translate }}
      </button>
      <button mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
        {{ 'COMMON.BACK' | translate }}
      </button>
      <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mx-3" (click)="return();">
        {{ 'COMMON.RETURN' | translate }}
      </button>
    </div>

  </mat-card-content>

</mat-card>