<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'accountkey.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid&&formControls.code.status != 'DISABLED',
           'ng--invalid': !formControls.code.valid &&formControls.code.status != 'DISABLED' }">
          <mat-label [translate]="'accountkey.code'"></mat-label>
          <input matInput formControlName="code" maxlength="4"
            appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.code.valid &&formControls.code.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.code.valid  }"> Code is
            required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.description.valid, 'ng--invalid': !formControls.description.valid  }">
          <mat-label [translate]="'accountkey.description'"></mat-label>
          <input matInput formControlName="description"
            maxlength="30" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.description.valid"
            [ngClass]="{ 'ng--invalid': !formControls.description.valid  }"> Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.acquisitionsGl'"></mat-label>
          <mat-select formControlName="acquisitionsGl" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let agl of glList" [value]="agl.id">
              {{agl.id}} - {{agl.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.accumulatedGl'"></mat-label>
          <mat-select formControlName="accumulatedGl" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cltype of glList" [value]="cltype.id">
              {{cltype.id}} - {{cltype.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.auggl'"></mat-label>
          <mat-select formControlName="auggl" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cltype of glList" [value]="cltype.id">
              {{cltype.id}} - {{cltype.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.salesRevenueGl'"></mat-label>
          <mat-select formControlName="salesRevenueGl" appFocusOnEnter tabIndex="6">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cltype of gl2List" [value]="cltype.id">
              {{cltype.id}} - {{cltype.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.lossOnSaleGl'"></mat-label>
          <mat-select formControlName="lossOnSaleGl" appFocusOnEnter tabIndex="7">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cltype of gl2List" [value]="cltype.id">
              {{cltype.id}} - {{cltype.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.gainOnSaleGl'"></mat-label>
          <mat-select formControlName="gainOnSaleGl" appFocusOnEnter tabIndex="8">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cltype of gl2List" [value]="cltype.id">
              {{cltype.id}} - {{cltype.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.scrappingGl'"></mat-label>
          <mat-select formControlName="scrappingGl" appFocusOnEnter tabIndex="9">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cltype of gl2List" [value]="cltype.id">
              {{cltype.id}} - {{cltype.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.depreciationGl'"></mat-label>
          <mat-select formControlName="depreciationGl" appFocusOnEnter tabIndex="10">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cltype of gl2List" [value]="cltype.id">
              {{cltype.id}} - {{cltype.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.companyCode'"></mat-label>
          <mat-select formControlName="companyCode" appFocusOnEnter tabIndex="11">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let comp of companyList" [value]="comp.id">
              {{comp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'accountkey.chartofAccount'"></mat-label>
          <mat-select formControlName="chartofAccount" appFocusOnEnter tabIndex="12">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let coa of coaList" [value]="coa.code">
              {{coa.desctiption}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>

    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>