<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'materialassignment.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field [ngClass]="{ 'ng--valid': formControls.numberRange.valid && formControls.numberRange.status != 'DISABLED',
           'ng--invalid': !formControls.numberRange.valid && formControls.numberRange.status != 'DISABLED' }">
          <mat-label>{{'materialassignment.numberRange' | translate }}</mat-label>
          <mat-select formControlName="numberRange" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let mseries of mnosList" [value]="mseries.code">
              {{mseries.code}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.numberRange.valid && formControls.numberRange.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.numberRange.valid  }"> Number Range is required</mat-error>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{ 'ng--valid': formControls.companyCode.valid, 'ng--invalid': !formControls.companyCode.valid  }">
          <mat-label>{{'materialassignment.companyCode' | translate }}</mat-label>
          <mat-select formControlName="companyCode" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let company of companiesList" [value]="company.id">
              {{company.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.companyCode.valid"
            [ngClass]="{ 'ng--invalid': !formControls.companyCode.valid  }">Company is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'materialassignment.plant' | translate }}</mat-label>
          <mat-select formControlName="plant" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plant of plantsList" [value]="plant.id">
              {{plant.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'materialassignment.materialType' | translate }}</mat-label>
          <mat-select formControlName="materialType" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let mtype of matypeList" [value]="mtype.code">
              {{mtype.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>