<div class="bg-white">


  <mat-tab-group>

    <form [formGroup]="modelFormData" autocomplete="off">

      <mat-tab label="{{'tasks.title1' | translate }}">
        <mat-card-content class="py-5 p-2 m-0">
          <div class="d--flex">
            <mat-form-field>
              <mat-label [translate]="'tasks.wbselement'"></mat-label>
              <mat-select formControlName="wbselement" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let wbs of wbsElementList" [value]="wbs.id">
                  {{wbs.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.taskNumber'"></mat-label>
              <input matInput  formControlName="taskNumber"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.description'"></mat-label>
              <input matInput formControlName="description"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'tasks.immediatePrecedessors'"></mat-label>
              <mat-select formControlName="immediatePrecedessors" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let wbs of wbsElementList" [value]="wbs.id">
                  {{wbs.text}}
                </mat-option>

              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'tasks.successorTask'"></mat-label>
              <mat-select formControlName="successorTask" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let wbs of wbsElementList" [value]="wbs.id">
                  {{wbs.text}}
                </mat-option>

              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.wbselement'"></mat-label>
              <input matInput formControlName="timeNeeded"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>



            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.wbselement'"></mat-label>
              <input matInput formControlName="earlyStart"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.wbselement'"></mat-label>
              <input matInput  formControlName="earlyFinish"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.wbselement'"></mat-label>
              <input matInput  formControlName="lateFinish"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.wbselement'"></mat-label>
              <input matInput formControlName="forwardTotal"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.wbselement'"></mat-label>
              <input matInput formControlName="backwardTotal"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'tasks.person'"></mat-label>
              <mat-select formControlName="person" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let person of personList" [value]="person.id">
                  {{person.id}}- {{person.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'tasks.wbselement'"></mat-label>
              <input matInput formControlName="risk" appFocusOnEnter
                tabIndex="4">
            </mat-form-field>


          </div>
        </mat-card-content>
      </mat-tab>


      <mat-tab label="{{'routingfile.title2' | translate }}">

        <mat-card-content class="py-3">

          <app-dynamic-table [tableObJect]="dynTablePropsRouting" (emitColumnChanges)="emitColumnRoutingData($event)"
            [dynamicTableUpdate]="sendRoutingDynTableData">
          </app-dynamic-table>

        </mat-card-content>



      </mat-tab>



    </form>

  </mat-tab-group>

  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="reset()" appFocusOnEnter tabIndex="21">
      {{ 'COMMON.RESET' | translate }}
    </button>
    <button mat-raised-button class="button-color-bule text-white mx-1" (click)="back()" appFocusOnEnter tabIndex="23">
      {{ 'COMMON.BACK' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="22">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>

</div>