<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'batchmaster.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field>
          <mat-label>{{'batchmaster.company' | translate }}</mat-label>
          <mat-select formControlName="company" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let company of companiesList" [value]="company.id">
              {{company.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'batchmaster.plant' | translate }}</mat-label>
          <mat-select formControlName="plant" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plant of plantList" [value]="plant.id">
              {{plant.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.batchNumber.valid && formControls.batchNumber.status != 'DISABLED',
          'ng--invalid': !formControls.batchNumber.valid && formControls.batchNumber.status != 'DISABLED'  }">
          <mat-label [translate]="'batchmaster.batchNumber'"></mat-label>
          <input matInput formControlName="batchNumber"
            maxlength="50" appFocusOnEnter tabIndex="3">
          <mat-error *ngIf="!formControls.batchNumber.valid && formControls.batchNumber.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.batchNumber.valid  }">Batch Number is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.dob'"></mat-label>
          <input matInput [matDatepicker]="picker1" [nonEditable]="picker1" formControlName="dob" appFocusOnEnter tabIndex="4">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>


        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.year'"></mat-label>
          <input matInput formControlName="year" maxlength="50"
            appFocusOnEnter tabIndex="5">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'batchmaster.createdBy' | translate }}</mat-label>
          <mat-select formControlName="createdBy" appFocusOnEnter tabIndex="6">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let emp of empList" [value]="emp.id">
              {{emp.id}}- {{emp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.createdDate'"></mat-label>
          <input matInput [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="createdDate" appFocusOnEnter
            tabIndex="7">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>



        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.description'"></mat-label>
          <input matInput formControlName="description"
            maxlength="50" appFocusOnEnter tabIndex="8">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.batchSize'"></mat-label>
          <input matInput formControlName="batchSize"
            maxlength="10" appFocusOnEnter tabIndex="9">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'activities.uom' | translate }}</mat-label>
          <mat-select formControlName="uom" appFocusOnEnter tabIndex="10">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let uom of UomList" [value]="uom.id">
              {{uom.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.plantStart'"></mat-label>
          <input matInput formControlName="plantStart"
            maxlength="50" appFocusOnEnter tabIndex="11">
        </mat-form-field> -->

        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.plantStart'"></mat-label>
          <input matInput [matDatepicker]="plantStart" [nonEditable]="plantStart"
            formControlName="plantStart" appFocusOnEnter
            tabIndex="11">
          <mat-datepicker-toggle matSuffix [for]="plantStart"></mat-datepicker-toggle>
          <mat-datepicker #plantStart></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.plantEndDate'"></mat-label>
          <input matInput [matDatepicker]="plantEndDate" [nonEditable]="plantEndDate"
            formControlName="plantEndDate" appFocusOnEnter
            tabIndex="12">
          <mat-datepicker-toggle matSuffix [for]="plantEndDate"></mat-datepicker-toggle>
          <mat-datepicker #plantEndDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.actualStartDate'"></mat-label>
          <input matInput [matDatepicker]="actualStartDate" [nonEditable]="actualStartDate"
            formControlName="actualStartDate"
            appFocusOnEnter tabIndex="13">
          <mat-datepicker-toggle matSuffix [for]="actualStartDate"></mat-datepicker-toggle>
          <mat-datepicker #actualStartDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.actualStartTime'"></mat-label>
          <input matInput formControlName="actualStartTime"
            maxlength="5" appFocusOnEnter tabIndex="14">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.actualEndDate'"></mat-label>
          <input matInput [matDatepicker]="actualEndDate" [nonEditable]="actualEndDate" 
           formControlName="actualEndDate" appFocusOnEnter
            tabIndex="15">
          <mat-datepicker-toggle matSuffix [for]="actualEndDate"></mat-datepicker-toggle>
          <mat-datepicker #actualEndDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'batchmaster.actualEndTime'"></mat-label>
          <input matInput  formControlName="actualEndTime"
            maxlength="5" appFocusOnEnter tabIndex="16">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>