<mat-card>

  <mat-card-content class="mb-2">

    <h6>
      SaleOrder Details
      <hr>
    </h6>

    <!-- <form [formGroup]="formData" autocomplete="off">

      <div class="d--flex p-1 mat-form-field-height">

        <mat-form-field class="form-element">
          <mat-label>{{ 'materialrequisition.company' | translate }}</mat-label>
          <mat-select formControlName="company" tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let comp of companyList" [value]="comp.id">
              {{comp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'materialrequisition.plant' | translate }}</mat-label>
          <mat-select formControlName="plant" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plant of plantList" [value]="plant.id">
              {{plant.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'materialrequisition.branch' | translate }}</mat-label>
          <mat-select formControlName="branch" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let branch of branchList" [value]="branch.id">
              {{branch.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'materialrequisition.department' | translate }}</mat-label>
          <mat-select formControlName="department" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let dept of fdeptList" [value]="dept.code">
              {{dept.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label [translate]="'materialrequisition.project'"></mat-label>
          <mat-select formControlName="project" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let costUnit of costunitList" [value]="costUnit.id">
              {{costUnit.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'materialrequisition.bomorderNumber'"></mat-label>
          <input matInput formControlName="bomorderNumber" appFocusOnEnter tabIndex="7">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'materialrequisition.requisitionNmber'"></mat-label>
          <input matInput formControlName="requisitionNmber" appFocusOnEnter tabIndex="7">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'materialrequisition.requisitionDate'"></mat-label>
          <input matInput [matDatepicker]="picker1" [nonEditable]="picker1"  formControlName="requisitionDate"
            appFocusOnEnter tabIndex="3">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>



      </div>
    </form> -->

    <div>
      <!-- <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
        [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table> -->
      <app-table class="table-css" [tableData]="tableData" [showButtons]="false" (onEditEmit)="onEditEmit($event)">
      </app-table>
    </div>


  </mat-card-content>

  <mat-card-content>

    <h6>
      Production Details
      <hr>
    </h6>

    <form [formGroup]="formData1" autocomplete="off" *ngIf="tableData1 && tableData1.length">



      <div class="d-flex p-1 mat-form-field-height justify-content-between align-items-end">


        <div>
          <mat-form-field>
            <mat-label>{{'materialrequisition.typeofWork' | translate }}</mat-label>
            <mat-select formControlName="typeofWork" appFocusOnEnter tabIndex="1">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let emp of citemList" [value]="emp.description">
                {{emp.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'materialrequisition.allocatedPerson' | translate }}</mat-label>
            <mat-select formControlName="allocatedPerson" appFocusOnEnter tabIndex="2">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let emp of employeesList" [value]="emp.text">
                {{emp.id}}- {{emp.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'materialrequisition.mechine' | translate }}</mat-label>
            <mat-select formControlName="mechine" appFocusOnEnter tabIndex="3">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let emp of mechenaryList" [value]="emp.description">
                {{emp.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'materialrequisition.startDate' | translate }}</mat-label>

            <input matInput [matDatepicker]="picker1" tabIndex="4"
              placeholder="{{'materialrequisition.startDate' | translate }}" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'materialrequisition.endDate' | translate }}</mat-label>

            <input matInput [matDatepicker]="picker2" tabIndex="5"
              placeholder="{{'materialrequisition.endDate' | translate }}" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-element">
            <mat-label [translate]="'materialrequisition.remarks'"></mat-label>
            <input matInput formControlName="remarks" appFocusOnEnter tabIndex="4">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'materialrequisition.workStatus' | translate }}</mat-label>
            <mat-select formControlName="workStatus" appFocusOnEnter tabIndex="3">
              <mat-option>None</mat-option>
              <mat-option value="Assigned"> Assigned </mat-option>
              <mat-option value="In Progress"> In Progress </mat-option>
              <mat-option value="Completed"> Completed </mat-option>
              <mat-option value="Rejected"> Rejected </mat-option>
              <mat-option value="Assigned to QC"> Assigned to QC </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        
        
      </div>
      <div class="mb-3 d-flex justify-content-end">

        <button mat-raised-button type="submit" class="button-color-bule mx-1 text-white" (click)="saveForm()">
          {{ 'COMMON.UPDATE' | translate }}
        </button>
        <button mat-raised-button class="button-color-red text-white mx-1" (click)="resetForm();">
          {{ 'COMMON.RESET' | translate }}
        </button>

      </div>

    </form>

    <div>
      <app-table #tableRef class="table-css" [tableData]="tableData1" [showButtons]="false"  (editOrDeleteEvent)="editOrDeleteEvent($event)">
      </app-table>
    </div>


  </mat-card-content>
  <mat-card-content class="d-flex justify-content-end py-1">

    <div>
      <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="save()">
        {{ 'COMMON.SAVE' | translate }}
      </button>
      <button [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3" (click)="reset();">
        {{ 'COMMON.RESET' | translate }}
      </button>
      <button mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
        {{ 'COMMON.BACK' | translate }}
      </button>
      <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mx-3" (click)="return();">
        {{ 'COMMON.RETURN' | translate }}
      </button>
    </div>

  </mat-card-content>

</mat-card>