<mat-toolbar class="text-white">
  <mat-toolbar-row class="d-flex justify-content-between">

    <div class="d-flex">
      <button *ngIf="showExpandButtons" mat-icon-button id="menu" (click)="openCloseMemu()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="d-flex align-items-center">
        <img [routerLink]="['/dashboard']" src="../../assets/images/CoreERP_icon.png" alt="hi" height="25" />
        <span [routerLink]="['/dashboard']" class="px-2">CoreERP</span>
      </div>
    </div>

    <div *ngIf="commonService.routeParam">
      {{ ( commonService.routeParam + '.title') | translate }}
    </div>

    <div class="d-flex">
      <div class="d-flex mx-4" *ngIf="showExpandButtons">
        <span class="align-items-center d-flex">
          <mat-icon>account_circle</mat-icon>
        </span>
        <small class="mx-1 my-2" *ngIf="loginUser != null"> {{loginUser.userName}} </small>
      </div>

      <button class="my-2" mat-button (click)="logout()" *ngIf="showExpandButtons">
        <b>Logout</b>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>