<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'lotseriesassignment.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field [ngClass]="{ 'ng--valid': formControls.lotSeries.valid && formControls.lotSeries.status != 'DISABLED', 
          'ng--invalid': !formControls.lotSeries.valid && formControls.lotSeries.status != 'DISABLED'}">
          <mat-label>{{'lotseriesassignment.lotSeries' | translate }}</mat-label>
          <mat-select formControlName="lotSeries" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let lot of lotList" [value]="lot.seriesKey">
              {{lot.description}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.lotSeries.valid  && formControls.lotSeries.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.lotSeries.valid  }">
            Lot Series is required</mat-error>
        </mat-form-field>

        <mat-form-field
          [ngClass]="{ 'ng--valid': formControls.company.valid, 'ng--invalid': !formControls.company.valid  }">
          <mat-label>{{'lotseriesassignment.company' | translate }}</mat-label>
          <mat-select formControlName="company" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let company of companiesList" [value]="company.id">
              {{company.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.company.valid" [ngClass]="{ 'ng--invalid': !formControls.company.valid  }">
            Company is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'lotseriesassignment.plant' | translate }}</mat-label>
          <mat-select formControlName="plant" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plant of plantsList" [value]="plant.id">
              {{plant.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'lotseriesassignment.materialType' | translate }}</mat-label>
          <mat-select formControlName="materialType" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let mtype of matypeList" [value]="mtype.code">
              {{mtype.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>