<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'purchasingperson.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.purchasePerson.valid && formControls.purchasePerson.status != 'DISABLED', 
           'ng--invalid': !formControls.purchasePerson.valid && formControls.purchasePerson.status != 'DISABLED'  }">
          <mat-label>{{'purchasingperson.purchasePerson' | translate }}</mat-label>
          <mat-select formControlName="purchasePerson" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let emp of emplist" [value]="emp.id">
              {{emp.id}} - {{emp.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.purchasePerson.valid && formControls.purchasePerson.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.purchasePerson.valid  }">Purchase Person Code is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.description.valid, 'ng--invalid': !formControls.description.valid  }">
          <mat-label [translate]="'purchasingperson.description'"></mat-label>
          <input matInput  formControlName="description"
            maxlength="30" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.description.valid"
            [ngClass]="{ 'ng--invalid': !formControls.description.valid  }">Purchase Person Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'purchasingperson.purchaseGroup' | translate }}</mat-label>
          <mat-select formControlName="purchaseGroup" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let pcgroup of pcgroupList" [value]="pcgroup.pruchaseGroup">
              {{pcgroup.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'purchasingperson.purchaseTypes' | translate }}</mat-label>
          <mat-select formControlName="purchaseTypes" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let ptype of purchaseTypeList " [value]="ptype.purchaseType">
              {{ptype.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--<mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.glsubName.valid }">
          <mat-label [translate]="'purchasingperson.glsubName'"></mat-label>
    <input matInput 
     formControlName="glsubName" maxlength="30" appFocusOnEnter tabIndex="3">
    <mat-error *ngIf="formControls.glsubName.errors" class="help-block">
      <div *ngIf="formControls.glsubName.errors.required">description  is required </div>
    </mat-error>
  </mat-form-field>-->


      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>