 <div class="position-relative popup-class">

  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'company.title' | translate }} </span>
    <mat-icon class="p-2  cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.companyCode.valid }">
          <input matInput placeholder="{{'company.companyCode' | translate }}" disabled formControlName="companyCode" maxlength="5" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="formControls.companyCode.errors" class="help-block">
            <div *ngIf="formControls.companyCode.errors.required">Code is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.companyName.valid }">
          <input matInput placeholder="{{'company.companyName' | translate }}" formControlName="companyName"  maxlength="50" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="formControls.companyName.errors" class="help-block">
            <div *ngIf="formControls.companyName.errors.required">Name is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.shortName' | translate }}" formControlName="shortName" maxlength="50"  appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.city' | translate }}" formControlName="city" maxlength="50" appFocusOnEnter tabIndex="4">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.state' | translate }}</mat-label>
          <mat-select formControlName="state" appFocusOnEnter tabIndex="5">
            <mat-option *ngFor="let state of stateList" [value]="state.id">
              {{state.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.state.errors" class="help-block">
            <div *ngIf="formControls.state.errors.required">state is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.region' | translate }}</mat-label>
          <mat-select formControlName="region" appFocusOnEnter tabIndex="6">
            <mat-option *ngFor="let rgn of regionsList" [value]="rgn.id">
              {{rgn.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.region.errors" class="help-block">
            <div *ngIf="formControls.region.errors.required">region is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.country' | translate }}</mat-label>
          <mat-select formControlName="country" appFocusOnEnter tabIndex="7">
            <mat-option *ngFor="let cntry of countrysList" [value]="cntry.id">
              {{cntry.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.country.errors" class="help-block">
            <div *ngIf="formControls.country.errors.required">country is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.currency' | translate }}</mat-label>
          <mat-select formControlName="currency" appFocusOnEnter tabIndex="8">
            <mat-option *ngFor="let cncy of currencyList" [value]="cncy.id">
              {{cncy.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.currency.errors" class="help-block">
            <div *ngIf="formControls.currency.errors.required">currency is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'company.language' | translate }}</mat-label>
          <mat-select formControlName="language" appFocusOnEnter tabIndex="9">
            <mat-option *ngFor="let lng of languageList" [value]="lng.id">
              {{lng.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.language.errors" class="help-block">
            <div *ngIf="formControls.language.errors.required">language is required</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.address' | translate }}" formControlName="address" maxlength="50" appFocusOnEnter tabIndex="10">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.address1' | translate }}" formControlName="address1"  maxlength="50" appFocusOnEnter tabIndex="11">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.street' | translate }}" formControlName="street" maxlength="50" appFocusOnEnter tabIndex="12">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.pin' | translate }}" formControlName="pin"  maxlength="6" appFocusOnEnter tabIndex="13">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.telephone' | translate }}" formControlName="telephone"  maxlength="12" appFocusOnEnter tabIndex="14">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.mobile' | translate }}" formControlName="mobile" maxlength="12" appFocusOnEnter tabIndex="15">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.email' | translate }}" formControlName="email"  maxlength="50" appFocusOnEnter tabIndex="16">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.image' | translate }}" formControlName="image" appFocusOnEnter tabIndex="17">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.webSite' | translate }}" formControlName="webSite" maxlength="50" appFocusOnEnter tabIndex="18">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.panno' | translate }}" formControlName="panno" maxlength="50" appFocusOnEnter tabIndex="19">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.gstno' | translate }}" formControlName="gstno" maxlength="50" appFocusOnEnter tabIndex="20">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'company.tanno' | translate }}" formControlName="tanno" maxlength="50" appFocusOnEnter tabIndex="21">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>

    </form>

  </mat-card-content>


    <div  class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mr-1"  (click)="cancel()">
      
      {{ 'COMMON.CANCEL' | translate }}
    </button>
        <button mat-raised-button  type="submit" class="button-color-bule text-white ml-1"  (click)="save()" appFocusOnEnter tabIndex="21">
          
          {{ 'COMMON.SAVE' | translate }}
         </button>
  </div>
</div>
