<div class="bg-white">

  <mat-tab-group>

    <form [formGroup]="modelFormData" autocomplete="off">

      <mat-tab label="{{'depreciationcode.title' | translate }}">

        <mat-card-content class="py-5 p-2 m-0">
          <div class="d--flex">

            <mat-form-field class="form-element"
              [ngClass]="{ 'ng--valid': formControls.code.valid, 'ng--invalid': !formControls.code.valid  }">
              <mat-label [translate]="'depreciationcode.code'"></mat-label>
              <input matInput formControlName="code"
                maxlength="4" appFocusOnEnter tabIndex="1">
              <mat-error *ngIf="!formControls.code.valid" [ngClass]="{ 'ng--invalid': !formControls.code.valid  }"> Code
                is required</mat-error>
            </mat-form-field>

            <mat-form-field class="form-element"
              [ngClass]="{ 'ng--valid': formControls.description.valid, 'ng--invalid': !formControls.description.valid  }">
              <mat-label [translate]="'depreciationcode.description'"></mat-label>
              <input matInput
                formControlName="description" maxlength="30" appFocusOnEnter tabIndex="2">
              <mat-error *ngIf="!formControls.description.valid"
                [ngClass]="{ 'ng--invalid': !formControls.description.valid  }"> Name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'depreciationcode.depreciationMethod'"></mat-label>
              <mat-select formControlName="depreciationMethod" appFocusOnEnter tabIndex="3">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let dpc of Methodofdepreciation" [value]="dpc.value">
                  {{dpc.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'depreciationcode.purchaseWithin'"></mat-label>
              <input matInput 
                formControlName="purchaseWithin" maxlength="6" appFocusOnEnter tabIndex="3">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'depreciationcode.rate'"></mat-label>
              <input matInput  formControlName="rate"
                maxlength="6" appFocusOnEnter tabIndex="4">
            </mat-form-field>

          </div>
        </mat-card-content>

      </mat-tab>

      <mat-tab label="Depreciationcode  Details">
        <app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
          [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table>
      </mat-tab>
    </form>
  </mat-tab-group>

  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>