<mat-card>

    <mat-card-content>

        <form [formGroup]="formData" class="card p-2 mb-3" autocomplete="off">

            <h6>
                Saleorder Master
                <hr>
            </h6>

            <div class="d--flex p-1 mat-form-field-height">

                <mat-form-field class="form-element">
                    <mat-label>{{ 'saleorder.customerCode' | translate }}</mat-label>
                    <mat-select formControlName="customerCode" tabIndex="2">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of customerList" [value]="comp.text">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'saleorder.orderDate'"></mat-label>
                    <input matInput [matDatepicker]="picker1" [nonEditable]="picker1" formControlName="orderDate"
                        appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'purchaseorder.profitCenter' | translate }}</mat-label>
                    <mat-select formControlName="profitCenter" appFocusOnEnter tabIndex="6">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let pft of profitCenterList" [value]="pft.id">
                            {{pft.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field class="form-element">
                    <mat-label [translate]="'saleorder.saleOrderNumber'"></mat-label>
                    <input matInput type="text" readonly formControlName="saleOrderNo" appFocusOnEnter tabIndex="4">
                </mat-form-field> -->

                <mat-form-field class="form-element">
                    <mat-label [translate]="'saleorder.poNumber'"></mat-label>
                    <input matInput type="text" formControlName="poNumber" appFocusOnEnter tabIndex="4">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'saleorder.poDate'"></mat-label>
                    <input matInput [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="poDate"
                        appFocusOnEnter tabIndex="5">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'saleorder.dateofSupply'"></mat-label>
                    <input matInput [matDatepicker]="picker3" [nonEditable]="picker3" formControlName="dateofSupply"
                        appFocusOnEnter tabIndex="6">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label [translate]="'saleorder.placeOfSupply'"></mat-label>
                    <input matInput type="text" formControlName="placeofSupply" appFocusOnEnter tabIndex="7">
                </mat-form-field>

                <!-- <div *ngIf="formData.value.documentURL" class="d-flex flex-column mt-3">
                    <mat-label [translate]="'saleorder.attachedUrl'"></mat-label>
                    <a [href]="url" download target="_blank"> <b> {{ formData.value.documentURL }} </b> </a>
                </div> -->
                <div >
                    <app-file-upload [type]="'card'" (emitFilesList)="emitFilesList($event)"></app-file-upload>
                </div>

            </div>

        </form>

        <div class="p-2 card">

            <h6>
                Saleorder Details
                <hr>
            </h6>

            <form [formGroup]="formData1" autocomplete="off">



                <div class="d--flex p-1 mat-form-field-height">

                    <!-- <mat-form-field class="form-element">
                        <mat-label>{{ 'saleorder.materialCode' | translate }}</mat-label>
                        <mat-select formControlName="materialCode" tabIndex="10" (selectionChange)="materialCodeChange()">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let material of materialList" [value]="material.text">
                                {{material.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->


                    <div class="mat-mdc-form-field typeahead">
                        <input placeholder="{{ 'saleorder.materialCode' | translate }}" formControlName="materialCode"
                            [typeahead]="materialList" typeaheadOptionField='id' tabIndex="8" class="form-control "
                            [typeaheadItemTemplate]="customItemTemplate" (typeaheadOnSelect)="materialCodeChange()" (change)="materialChange()">
                        <ng-template #customItemTemplate let-model="item" >
                            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
                        </ng-template>
                    </div>


                    <mat-form-field class="form-element">
                        <mat-label>{{ 'saleorder.taxCode' | translate }}</mat-label>
                        <mat-select formControlName="taxCode" tabIndex="11">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let tax of taxCodeList" [value]="tax.taxRateCode">
                                {{tax.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <mat-label [translate]="'saleorder.qty'"></mat-label>
                        <input matInput type="number" formControlName="qty" appFocusOnEnter tabIndex="12">
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <mat-label [translate]="'saleorder.rate'"></mat-label>
                        <input matInput type="number" formControlName="rate" appFocusOnEnter tabIndex="13">
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <mat-label [translate]="'saleorder.discount'"></mat-label>
                        <input matInput type="number" formControlName="discount" appFocusOnEnter tabIndex="14">
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <mat-label [translate]="'saleorder.stockQty'"></mat-label>
                        <input matInput type="number" readonly formControlName="stockQty" appFocusOnEnter tabIndex="13">
                    </mat-form-field>


                    <mat-form-field class="form-element">
                        <mat-label [translate]="'saleorder.deliveryDate'"></mat-label>
                        <input matInput [matDatepicker]="picker13" [nonEditable]="picker13"
                            formControlName="deliveryDate" appFocusOnEnter tabIndex="15">
                        <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                        <mat-datepicker #picker13></mat-datepicker>
                    </mat-form-field>

                </div>

                <div class="d-flex justify-content-end mb-3">

                    <button mat-raised-button type="submit" class="button-color-bule mx-1 text-white"
                        (click)="saveForm()">
                        {{ 'COMMON.UPDATE' | translate }}
                    </button>
                    <button mat-raised-button class="button-color-red text-white mx-1" (click)="resetForm();">
                        {{ 'COMMON.RESET' | translate }}
                    </button>

                </div>

            </form>

            <div>
                <app-table class="table-css" [tableData]="tableData" [showFilters]="false"
                    (editOrDeleteEvent)="editOrDeleteEvent($event)" (onLinkEmitEvent)="downLoadFile($event)">
                </app-table>
            </div>
        </div>


    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <div class="d-flex">
            <div class="px-1"> <span class="px-1"> <b>{{ 'saleorder.igst' | translate }} </b></span> :
                <b class="text-danger">{{ formData.value.igst }} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.cgst' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.cgst}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.sgst' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.sgst}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.amount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.amount}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.totalTax' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalTax}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.totalAmount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalAmount}} </b>
            </div>
        </div>

        <div>

            <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="save()">
                {{ 'COMMON.SAVE' | translate }}
            </button>
            <!-- <button [hidden]="routeEdit == ''" mat-raised-button type="submit" class="button-color-bule mx-3 text-white"
                (click)="save()">
                {{ 'COMMON.UPDATE' | translate }}
            </button> -->
            <button mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
                {{ 'COMMON.BACK' | translate }}
            </button>
            <button [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3"
                (click)="reset();">
                {{ 'COMMON.RESET' | translate }}
            </button>
        </div>

    </mat-card-content>

</mat-card>