<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'assetbegningaccumulateddepreciation.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field>
          <mat-label [translate]="'assetbegningaccumulateddepreciation.mainAssetNo'"></mat-label>
          <mat-select formControlName="mainAssetNo" appFocusOnEnter tabIndex="1">
            <mat-option *ngFor="let mam of mamList" [value]="mam.assetNumber">
              {{mam.assetNumber}}- {{mam.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label>{{'assetbegningaccumulateddepreciation.subAssetNo' | translate }}</mat-label>
          <mat-select formControlName="subAssetNo" appFocusOnEnter tabIndex="2">
            <mat-option *ngFor="let sa of saList" [value]="sa.subAssetNumber">
              {{sa.subAssetNumber}} - {{sa.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label>{{'assetbegningaccumulateddepreciation.depreciationArea' | translate }}</mat-label>
          <mat-select formControlName="depreciationArea" appFocusOnEnter tabIndex="3">
            <mat-option *ngFor="let dpa of dpareaList" [value]="dpa.code">
              {{dpa.code}} - {{dpa.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'assetbegningaccumulateddepreciation.accumulatedDepreciation'"></mat-label>
          <input matInput
            formControlName="accumulatedDepreciation" maxlength="50" appFocusOnEnter tabIndex="4">
        </mat-form-field>


      </div>
      <mat-divider></mat-divider>



    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>