<div class="container py-2">
  <span>Are you sure you want to delete the {{ deleteData.item[deleteData.primary] }} ? </span>
</div>

<mat-divider></mat-divider>


<div class="form-element p-2 d-flex justify-content-end">
  <button mat-raised-button class="button-color-red text-white mx-1" (click)="closeDialog()">

    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="doAction()">

    {{ 'COMMON.OK' | translate }}
  </button>
</div>