<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'state.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.stateCode.valid&& formControls.stateCode.status != 'DISABLED', 
           'ng--invalid': !formControls.stateCode.valid && formControls.stateCode.status != 'DISABLED' }">
          <mat-label [translate]="'state.stateCode'"></mat-label>
          <input matInput  formControlName="stateCode" appFocusOnEnter
            tabIndex="1" maxlength="5">
          <mat-error *ngIf="!formControls.stateCode.valid && formControls.stateCode.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.stateCode.valid  }">
            State Code is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.stateName.valid, 'ng--invalid': !formControls.stateName.valid  }">
          <mat-label [translate]="'state.stateName'"></mat-label>
          <input matInput  formControlName="stateName" appFocusOnEnter
            tabIndex="2" maxlength="50">
          <mat-error *ngIf="!formControls.stateName.valid"
            [ngClass]="{ 'ng--invalid': !formControls.stateName.valid  }">
            State Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'state.countryCode' | translate }}</mat-label>
          <mat-select formControlName="countryCode" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let ctry of countrysList" [value]="ctry.id">
              {{ctry.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'state.language' | translate }}</mat-label>
          <mat-select formControlName="language" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let lng of languageList" [value]="lng.id">
              {{lng.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>

      <div class="form-element p-2 d-flex justify-content-end">
        <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter
          tabIndex="5">
          {{ 'COMMON.CANCEL' | translate }}
        </button>

        <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()"
          appFocusOnEnter tabIndex="6">
          {{ 'COMMON.SAVE' | translate }}
        </button>

      </div>

    </form>

  </mat-card-content>
</div>