<div class="position-relative popup-class">

  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span>{{'taxrates.title' | translate }}</span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="d--flex">
        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.taxRateCode.valid &&formControls.taxRateCode.status != 'DISABLED',
           'ng--invalid': !formControls.taxRateCode.valid &&formControls.taxRateCode.status != 'DISABLED'}">
          <mat-label [translate]="'taxrates.taxRateCode'"></mat-label>
          <input matInput  formControlName="taxRateCode"
            maxlength="5" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.taxRateCode.valid  &&formControls.taxRateCode.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.taxRateCode.valid  }">Code is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.description.valid, 'ng--invalid': !formControls.description.valid  }">
          <mat-label [translate]="'taxrates.description'"></mat-label>
          <input matInput  formControlName="description"
            maxlength="50" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.description.valid"
            [ngClass]="{ 'ng--invalid': !formControls.description.valid  }">Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'taxrates.taxType'"></mat-label>
          <mat-select formControlName="taxType" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let taxtype of TaxTypess" [value]="taxtype.viewValue">
              {{taxtype.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tax Transaction</mat-label>
          <mat-select   formControlName="taxTransaction"
            appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let taxtrnsn of Taxtransaction" [value]="taxtrnsn.id">
              {{taxtrnsn.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'taxrates.taxCondition'"></mat-label>
          <mat-select formControlName="taxCondition" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let ltype of TaxConditions" [value]="ltype.viewValue">
              {{ltype.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'taxrates.sgst'"></mat-label>
          <input matInput formControlName="sgst" maxlength="3"
            appFocusOnEnter tabIndex="6">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'taxrates.cgst'"></mat-label>
          <input matInput formControlName="cgst" maxlength="3"
            appFocusOnEnter tabIndex="7">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'taxrates.igst'"></mat-label>
          <input matInput formControlName="igst" maxlength="3"
            appFocusOnEnter tabIndex="8">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'taxrates.ugst'"></mat-label>
          <input matInput  formControlName="ugst" maxlength="3"
            appFocusOnEnter tabIndex="9">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'taxrates.compositeCess'"></mat-label>
          <input matInput  formControlName="compositeCess"
            maxlength="3" appFocusOnEnter tabIndex="10">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'taxrates.effectiveFrom'"></mat-label>
          <input matInput [matDatepicker]="picker1" [nonEditable]="picker1" formControlName="effectiveFrom" appFocusOnEnter
            tabIndex="3">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>
  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter tabIndex="11">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="12">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>