<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span>  {{'purchaserequisitionnumberrange.title' | translate }} </span>
    <mat-icon class="p-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field>
          <mat-label>{{'purchaserequisitionnumberrange.plant' | translate }}</mat-label>
          <mat-select formControlName="plant" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plant of plantsList" [value]="plant.id">
              {{plant.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.plant.errors" class="help-block">
            <div *ngIf="formControls.plant.errors.required">plant  is required </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'purchaserequisitionnumberrange.department' | translate }}</mat-label>
          <mat-select formControlName="department" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let pol of porderList" [value]="pol.purchaseType">
              {{pol.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'purchaserequisitionnumberrange.code' | translate }}"
                 formControlName="code" maxlength="30" appFocusOnEnter tabIndex="3">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="{{'purchaserequisitionnumberrange.fromInterval' | translate }}"
                 formControlName="fromInterval" maxlength="30" appFocusOnEnter tabIndex="4">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="{{'purchaserequisitionnumberrange.toInterval' | translate }}"
                 formControlName="toInterval" maxlength="30" appFocusOnEnter tabIndex="5">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="{{'purchaserequisitionnumberrange.currentNumber' | translate }}"
                 formControlName="currentNumber" maxlength="30" appFocusOnEnter tabIndex="6">
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="{{'purchaserequisitionnumberrange.prefix' | translate }}"
                 formControlName="prefix" maxlength="30" appFocusOnEnter tabIndex="7">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mr-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>
