<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'purchaserequisitionnumberrange.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field [ngClass]="{ 'ng--valid': formControls.plant.valid &&formControls.plant.status != 'DISABLED',
           'ng--invalid': !formControls.plant.valid &&formControls.plant.status != 'DISABLED'}">
          <mat-label>{{'purchaserequisitionnumberrange.plant' | translate }}</mat-label>
          <mat-select formControlName="plant" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let plant of plantsList" [value]="plant.id">
              {{plant.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.plant.valid && formControls.plant.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.plant.valid  }"> Plant
            is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'purchaserequisitionnumberrange.department' | translate }}</mat-label>
          <mat-select formControlName="department" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let pol of fdeptList" [value]="pol.code">
              {{pol.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'purchaserequisitionnumberrange.code'"></mat-label>
          <input matInput formControlName="code"
            maxlength="30" appFocusOnEnter tabIndex="3">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'purchaserequisitionnumberrange.fromInterval'"></mat-label>
          <input matInput
            formControlName="fromInterval" maxlength="30" appFocusOnEnter tabIndex="4">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'purchaserequisitionnumberrange.toInterval'"></mat-label>
          <input matInput
            formControlName="toInterval" maxlength="30" appFocusOnEnter tabIndex="5">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'purchaserequisitionnumberrange.currentNumber'"></mat-label>
          <input matInput
            formControlName="currentNumber" maxlength="30" appFocusOnEnter tabIndex="6">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'purchaserequisitionnumberrange.prefix'"></mat-label>
          <input matInput
            formControlName="prefix" maxlength="30" appFocusOnEnter tabIndex="7">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>