<div>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto ">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.employeeCode.valid&& formControls.employeeCode.status != 'DISABLED', 
                   'ng--invalid': !formControls.employeeCode.valid && formControls.employeeCode.status != 'DISABLED' }">
          <mat-label [translate]="'employee.employeeCode'"></mat-label>
          <input matInput formControlName="employeeCode" maxlength="5" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.employeeCode.valid && formControls.employeeCode.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.employeeCode.valid  }">Employee is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.employeeName'"></mat-label>
          <input matInput placeholder="employeeName" formControlName="employeeName" appFocusOnEnter tabIndex="4">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'employee.branchCode' | translate }}</mat-label>
          <mat-select formControlName="branchCode" appFocusOnEnter tabIndex="10">
            <mat-option *ngFor="let branch of branchesList" [value]="branch.branchCode">
              {{branch.branchCode}} - {{branch.branchName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'employee.companyCode' | translate }}</mat-label>
          <mat-select formControlName="companyCode" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let company of companiesList" [value]="company.id">
              {{company.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.designationId'"></mat-label>
          <mat-select formControlName="designationId" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let designation of designationsList" [value]="designation.designationId">
              {{designation.designationName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.dob'"></mat-label>
          <input matInput [matDatepicker]="picker1" [nonEditable]="picker1" formControlName="dob" appFocusOnEnter
            tabIndex="3">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.maritalStatus'"></mat-label>
          <mat-select formControlName="maritalStatus" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option value="single"> Single</mat-option>
            <mat-option value="married"> Married</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.gender'"></mat-label>
          <mat-select formControlName="gender" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option value="male"> Male</mat-option>
            <mat-option value="female"> Female</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.qualification'"></mat-label>
          <input matInput placeholder="qualification" formControlName="qualification" appFocusOnEnter tabIndex="7">
          <mat-select formControlName="qualification" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option value="gratuity"> Gratuity</mat-option>
            <mat-option value="under gratuity"> Under Gratuity</mat-option>
            <mat-option value="post gratuity"> Post Gratuity</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.address'"></mat-label>
          <input matInput placeholder="address" formControlName="address" appFocusOnEnter tabIndex="8">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.phoneNumber'"></mat-label>
          <input matInput placeholder="phoneNumber" formControlName="phoneNumber" appFocusOnEnter tabIndex="9">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.mobileNumber'"></mat-label>
          <input matInput placeholder="mobileNumber" formControlName="mobileNumber" appFocusOnEnter tabIndex="10">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.email'"></mat-label>
          <input matInput placeholder="email" formControlName="email" appFocusOnEnter tabIndex="11">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.joiningDate'"></mat-label>
          <input matInput [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="joiningDate"
            appFocusOnEnter tabIndex="3">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.releavingDate'"></mat-label>
          <input matInput [matDatepicker]="picker3" [nonEditable]="picker3" formControlName="releavingDate"
            appFocusOnEnter tabIndex="3">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <mat-slide-toggle class="form-element col-4 d-flex" formControlName="isActive" appFocusOnEnter tabIndex="17"
          style="vertical-align: bottom;margin-left: 20px;">
          {{ 'employee.isActive' | translate }}
        </mat-slide-toggle>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.narration'"></mat-label>
          <input matInput placeholder="narration" formControlName="narration" appFocusOnEnter tabIndex="15">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.bloodGroup'"></mat-label>
          <input matInput placeholder="bloodGroup" formControlName="bloodGroup" appFocusOnEnter tabIndex="16">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.passportNo'"></mat-label>
          <input matInput placeholder="passportNo" formControlName="passportNo" appFocusOnEnter tabIndex="17">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.accessCardNumber'"></mat-label>
          <input matInput placeholder="accessCardNumber" formControlName="accessCardNumber" appFocusOnEnter
            tabIndex="17">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'employee.bankName' | translate }}</mat-label>
          <mat-select formControlName="bankName" appFocusOnEnter tabIndex="11">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let bank of bankList" [value]="bank.id">
              {{bank.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.bankAccountNumber'"></mat-label>
          <input matInput placeholder="bankAccountNumber" formControlName="bankAccountNumber" appFocusOnEnter
            tabIndex="29">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.employeeType'"></mat-label>
          <input matInput placeholder="employeeType" formControlName="employeeType" appFocusOnEnter tabIndex="29">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.iFSCCode'"></mat-label>
          <input matInput placeholder="iFSCCode" formControlName="iFSCCode" appFocusOnEnter tabIndex="29">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.panNumber'"></mat-label>
          <input matInput placeholder="panNumber" formControlName="panNumber" appFocusOnEnter tabIndex="29">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.aadharNumber'"></mat-label>
          <input matInput placeholder="aadharNumber" formControlName="aadharNumber" appFocusOnEnter tabIndex="29">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'employee.recomendedBy' | translate }}</mat-label>
          <mat-select formControlName="recomendedBy" appFocusOnEnter tabIndex="20">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let emp of employeesList" [value]="emp.id">
              {{emp.id}} - {{emp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'employee.reportedBy' | translate }}</mat-label>
          <mat-select formControlName="reportedBy" appFocusOnEnter tabIndex="20">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let emp of employeesList" [value]="emp.id">
              {{emp.id}} - {{emp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'employee.approvedBy' | translate }}</mat-label>
          <mat-select formControlName="approvedBy" appFocusOnEnter tabIndex="20">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let emp of employeesList" [value]="emp.id">
              {{emp.id}} - {{emp.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.pfNumber'"></mat-label>
          <input matInput placeholder="pfNumber" formControlName="pfNumber" appFocusOnEnter tabIndex="29">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'employee.esiNumber'"></mat-label>
          <input matInput placeholder="esiNumber" formControlName="esiNumber" appFocusOnEnter tabIndex="29">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>

      <div class="form-element p-2 d-flex justify-content-end">
        <button mat-raised-button class="mr-1" class="button-color-red text-white" [translate]="'COMMON.CANCEL'"
          (click)="cancel()">Cancel</button>
        <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" [translate]="'COMMON.SAVE'"
          (click)="save()"> Save</button>
      </div>

    </form>

  </mat-card-content>
</div>