<app-dynamic-table [tableObJect]="dynTableProps" (emitColumnChanges)="emitColumnChanges($event);"
    [dynamicTableUpdate]="sendDynTableData"></app-dynamic-table>


<mat-card-content class="d-flex justify-content-end py-1">

    <button mat-raised-button type="submit" class="button-color-bule mx-3 text-white" (click)="save()">
        {{ 'COMMON.SAVE' | translate }}
    </button>
    <button mat-raised-button class="button-color-red text-white mx-3" (click)="reset();">
        {{ 'COMMON.RESET' | translate }}
    </button>

</mat-card-content>