<div class="bg-white">

  <mat-tab-group>

    <form [formGroup]="modelFormData" autocomplete="off">

      <mat-tab label="{{'routingfile.title1' | translate }}">
        <mat-card-content class="py-5 p-2 m-0">
          <div class="d--flex">
            <mat-form-field>
              <mat-label [translate]="'routingfile.company'"></mat-label>
              <mat-select formControlName="company" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                  {{comp.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'routingfile.plant'"></mat-label>
              <mat-select formControlName="plant" appFocusOnEnter tabIndex="2">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let plants of plantList" [value]="plants.id">
                  {{plants.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'routingfile.costUnit'"></mat-label>
              <mat-select formControlName="costUnit" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let costUnit of costunitList" [value]="costUnit.id">
                  {{costUnit.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'routingfile.material' | translate }}</mat-label>
              <mat-select formControlName="material" appFocusOnEnter tabIndex="4">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let mtype of matypeList" [value]="mtype.id">
                  {{mtype.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'routingfile.orderNumber'"></mat-label>
              <mat-select formControlName="orderNumber" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let orderNumber of ordertypeList" [value]="orderNumber.orderType">
                  {{orderNumber.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'routingfile.saleOrder'"></mat-label>
              <mat-select formControlName="saleOrder" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let orderNumber of ordertypeList" [value]="orderNumber.orderType">
                  {{orderNumber.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'routingfile.saleDocument'"></mat-label>
              <mat-select formControlName="saleDocument" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let orderNumber of ordertypeList" [value]="orderNumber.orderType">
                  {{orderNumber.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'routingfile.routingKey'"></mat-label>
              <input matInput formControlName="routingKey"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'routingfile.description'"></mat-label>
              <input matInput formControlName="description"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'routingfile.creationDate'"></mat-label>
              <input matInput [matDatepicker]="picker1" [nonEditable]="picker1"  formControlName="creationDate" appFocusOnEnter
                tabIndex="3">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'routingfile.version'"></mat-label>
              <input matInput  formControlName="version"
                appFocusOnEnter tabIndex="4">
            </mat-form-field>

          </div>
        </mat-card-content>
      </mat-tab>


      <mat-tab label="{{'routingfile.title2' | translate }}">

        <mat-card-content class="py-3">

          <app-dynamic-table [tableObJect]="dynTablePropsRouting" (emitColumnChanges)="emitColumnRoutingData($event)"
            [dynamicTableUpdate]="sendRoutingDynTableData">
          </app-dynamic-table>

        </mat-card-content>



      </mat-tab>

      <mat-tab label="{{'routingfile.title3' | translate }}">

        <mat-card-content class="py-3">

          <app-dynamic-table [tableObJect]="dynTablePropsActivity" (emitColumnChanges)="emitColumnActivityData($event)"
            [dynamicTableUpdate]="sendActivityDynTableData">
          </app-dynamic-table>

        </mat-card-content>

      </mat-tab>

      <mat-tab label="{{'routingfile.title4' | translate }}">

        <mat-card-content class="py-3">


          <app-dynamic-table [tableObJect]="dynTablePropsActivity" (emitColumnChanges)="emitColumnActivityData($event)"
            [dynamicTableUpdate]="sendActivityDynTableData">
          </app-dynamic-table>

          <!-- <app-dynamic-table [tableObJect]="dynTablePropsMaterialAss"
            (emitColumnChanges)="emitColumnMaterialAssData($event)" [dynamicTableUpdate]="sendMaterialAssDynTableData">
          </app-dynamic-table> -->

        </mat-card-content>

      </mat-tab>

      <mat-tab label="{{'routingfile.title5' | translate }}">

        <mat-card-content class="py-3">

          <app-dynamic-table [tableObJect]="dynTablePropsToolsEquipment"
            (emitColumnChanges)="emitColumnToolsEquipmentData($event)"
            [dynamicTableUpdate]="sendToolsEquipmentDynTableData">
          </app-dynamic-table>


        </mat-card-content>

      </mat-tab>

    </form>

  </mat-tab-group>

  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="reset()" appFocusOnEnter tabIndex="21">
      {{ 'COMMON.RESET' | translate }}
    </button>
    <button mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
      {{ 'COMMON.BACK' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="22">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>

</div>