mat-form-field {
    margin: 5px;
    flex: 0 0 15.75%;
  }

      .mat-mdc-form-field {
      margin: 5px;
      flex: 0 0 16%;
    }
    .mat-mdc-form-field.typeahead {
       margin-top: 25px;
       input {
          border: none;
          border-bottom: 1px solid;
          border-radius: 0px;
          padding: 0px;
    padding-bottom: 12px;
       }
       input:focus {
          box-shadow: none !important;
          background-color: none !important;
       }
    }

  ::ng-deep .table-css {
    .table {
      min-height: 4vh !important;
    }
  }
