<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'AssetClass.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid&&formControls.code.status != 'DISABLED',
         'ng--invalid': !formControls.code.valid &&formControls.code.status != 'DISABLED' }">
          <mat-label [translate]="'AssetClass.code'"></mat-label>
          <input matInput formControlName="code" maxlength="4"
            appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.code.valid &&formControls.code.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.code.valid  }"> Code is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.description.valid, 'ng--invalid': !formControls.description.valid  }">
          <mat-label [translate]="'AssetClass.description'"></mat-label>
          <input matInput formControlName="description"
            maxlength="30" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.description.valid"
            [ngClass]="{ 'ng--invalid': !formControls.description.valid  }"> Name is required</mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>{{'AssetClass.numberRange' | translate }}</mat-label>
          <mat-select formControlName="numberRange" appFocusOnEnter tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let nrr of nrrList" [value]="nrr.code">
              {{nrr.code}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'AssetClass.classType'"></mat-label>
          <mat-select formControlName="classType" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cltype of classtype" [value]="cltype.value">
              {{cltype.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'AssetClass.nature'"></mat-label>
          <mat-select formControlName="nature" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let nature of Nature" [value]="nature.value">
              {{nature.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.description.valid }">
          <mat-label [translate]="'AssetClass.assetLowValue'"></mat-label>
          <input matInput formControlName="assetLowValue"
            maxlength="30" appFocusOnEnter tabIndex="5">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'AssetClass.lastNumberRange'"></mat-label>
          <input matInput formControlName="lastNumberRange"
            maxlength="30" appFocusOnEnter tabIndex="6">
        </mat-form-field>

        <mat-checkbox class="mt-5" formControlName="lowValueAssetClass" appFocusOnEnter tabIndex="6">non Numaric</mat-checkbox>

      </div>
      <mat-divider></mat-divider>

    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>