<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'glsubgroups.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="d--flex">

        <mat-form-field class="form-element">
          <mat-label [translate]="'glsubgroups.structureType'"></mat-label>
          <mat-select formControlName="structureType" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option value="Balance Sheet"> Balance Sheet </mat-option>
            <mat-option value="Profit & Loss Account"> Profit & Loss Account </mat-option>
            <mat-option value="Cash Flow"> Cash Flow </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'glsubgroups.structureKey'"></mat-label>
          <mat-select formControlName="structureKey" appFocusOnEnter tabIndex="1">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let stkey of structkeyList" [value]="stkey">
              {{stkey}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.nature.valid, 'ng--invalid': !formControls.nature.valid  }">
          <mat-label>{{'glsubgroups.nature' | translate }}</mat-label>
          <mat-select formControlName="nature" (selectionChange)="getAccountNamelist()" appFocusOnEnter tabIndex="2">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let accgrp of glAccgrpList" [value]="accgrp.groupName">
              {{accgrp.groupName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.nature.valid" [ngClass]="{ 'ng--invalid': !formControls.nature.valid  }"> GL
            Account is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'glsubgroups.groupUnder' | translate }}</mat-label>
          <mat-select formControlName="groupUnder" (selectionChange)="getGLUnderGroupList()" appFocusOnEnter
            tabIndex="3">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let under of glAccNameList" [value]="under.accountGroupId">
              {{under.accountGroupId}} - {{under.accountGroupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [hidden]="formData.item">
          <mat-label>{{'glsubgroups.Undersubaccount' | translate }}</mat-label>
          <mat-select formControlName="Undersubaccount" appFocusOnEnter tabIndex="4">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let under of getAccSubGrpList" [value]="under.accountGroupId">
              {{under.accountGroupId}} - {{under.accountGroupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.accountGroupId.valid &&formControls.accountGroupId.status != 'DISABLED',
           'ng--invalid': !formControls.accountGroupId.valid &&formControls.accountGroupId.status != 'DISABLED'  }">
          <mat-label [translate]="'glsubgroups.accountGroupId'"></mat-label>
          <input matInput disabled formControlName="accountGroupId" appFocusOnEnter tabIndex="5">
          <mat-error *ngIf="!formControls.accountGroupId.valid  &&formControls.accountGroupId.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.accountGroupId.valid  }"> Code is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.accountGroupName.valid, 'ng--invalid': !formControls.accountGroupName.valid  }">
          <mat-label [translate]="'glsubgroups.accountGroupName'"></mat-label>
          <input matInput disabled formControlName="accountGroupName" appFocusOnEnter tabIndex="6">
          <mat-error *ngIf="!formControls.accountGroupName.valid"
            [ngClass]="{ 'ng--invalid': !formControls.accountGroupName.valid  }"> Name is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'glsubgroups.narration'"></mat-label>
          <input matInput formControlName="narration" appFocusOnEnter tabIndex="7">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'glsubgroups.note'"></mat-label>
          <input matInput formControlName="note" appFocusOnEnter tabIndex="7">
        </mat-form-field>

        <mat-slide-toggle class="form-element" formControlName="isDefault" style="margin-top: 25px;margin-left: 5px;"
          appFocusOnEnter tabIndex="8">
          No Further Group
        </mat-slide-toggle>
      </div>
      <mat-divider></mat-divider>
    </form>
  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()" appFocusOnEnter tabIndex="9">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="10">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>