<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'suppliertermsandconditions.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto">
    <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.code.valid && formControls.code.status != 'DISABLED',
           'ng--invalid': !formControls.code.valid&& formControls.code.status != 'DISABLED'}">
          <mat-label [translate]="'suppliertermsandconditions.code'"></mat-label>
          <input matInput  formControlName="code"
            maxlength="4" appFocusOnEnter tabIndex="1">
          <mat-error *ngIf="!formControls.code.valid && formControls.code.status != 'DISABLED'"
            [ngClass]="{ 'ng--invalid': !formControls.code.valid  }"> Code is
            required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.description.valid, 'ng--invalid': !formControls.description.valid  }">
          <mat-label [translate]="'suppliertermsandconditions.description'"></mat-label>
          <input matInput 
            formControlName="description" maxlength="30" appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.description.valid"
            [ngClass]="{ 'ng--invalid': !formControls.description.valid  }"> Description is required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'suppliertermsandconditions.deliveryPeriod'"></mat-label>
          <input matInput 
            formControlName="deliveryPeriod" maxlength="12" appFocusOnEnter tabIndex="3">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'suppliertermsandconditions.deliveryDate'"></mat-label>
          <input matInput [matDatepicker]="picker2" [nonEditable]="picker2"
             formControlName="deliveryDate"
            appFocusOnEnter tabIndex="3">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>



        <mat-form-field>
          <mat-label [translate]="'suppliertermsandconditions.deliveryMethod'"></mat-label>
          <mat-select formControlName="deliveryMethod" appFocusOnEnter tabIndex="5">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let method of methodtype" [value]="method.value">
              {{method.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'suppliertermsandconditions.deliveryPlace'"></mat-label>
          <input matInput 
            formControlName="deliveryPlace" maxlength="30" appFocusOnEnter tabIndex="6">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'suppliertermsandconditions.contactPerson'"></mat-label>
          <input matInput 
            formControlName="contactPerson" maxlength="30" appFocusOnEnter tabIndex="7">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'suppliertermsandconditions.phoneNumber'"></mat-label>
          <input matInput 
            formControlName="phoneNumber" maxlength="12" appFocusOnEnter tabIndex="8">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'suppliertermsandconditions.creditPeriod'"></mat-label>
          <input matInput  type="number"
            formControlName="creditPeriod" maxlength="7" appFocusOnEnter tabIndex="9">
        </mat-form-field>
        <mat-form-field class="form-element">
          <mat-label [translate]="'suppliertermsandconditions.advance'"></mat-label>
          <input matInput  type="number"
            formControlName="advance" maxlength="7" appFocusOnEnter tabIndex="10">
        </mat-form-field>

      </div>
      <mat-divider></mat-divider>
    </form>

  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">

      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()">

      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>