<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'glaccount.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto ">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="d--flex">

        <mat-form-field [ngClass]="{ 'ng--valid': formControls.chartAccount.valid }">
          <mat-label [translate]="'glaccount.chartAccount'"></mat-label>
          <mat-select formControlName="chartAccount" appFocusOnEnter tabIndex="1">
            <mat-option *ngFor="let coa of coaList" [value]="coa.code">
              {{coa.desctiption}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.chartAccount.errors" class="help-block">
            <div *ngIf="formControls.chartAccount.errors.required">Chart Account is required </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field [ngClass]="{ 'ng--valid': formControls.company.valid }">
          <mat-label [translate]="'glaccount.company'"></mat-label>
          <mat-select formControlName="company" appFocusOnEnter tabIndex="2">
            <mat-option *ngFor="let comp of companyList" [value]="comp.id">
              {{comp.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.company.errors" class="help-block">
            <div *ngIf="formControls.company.errors.required">Company is required </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field [ngClass]="{ 'ng--valid': formControls.accGroup.valid }">
          <mat-label>{{'glsubgroups.nature' | translate }} </mat-label>
          <mat-select formControlName="accGroup" (selectionChange)="enableAccount()">
            <mat-option *ngFor="let accgrp of glAccgrpList" [value]="accgrp.groupCode">
              {{accgrp.groupCode}} - {{accgrp.groupName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControls.accGroup.errors" class="help-block">
            <div *ngIf="formControls.accGroup.errors.required">Account Group is required </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.accountNumber.valid }">
          <mat-label [translate]="'glaccount.accountNumber'"></mat-label>
          <input matInput formControlName="accountNumber"
            maxlength="7" (change)="onChange($event)" appFocusOnEnter tabIndex="6">
          <mat-error *ngIf="formControls.accountNumber.errors" class="help-block">
            <div *ngIf="formControls.accountNumber.errors.required">accountNumber is required </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'glaccount.glaccountName'"></mat-label>
          <input matInput formControlName="glaccountName"
            maxlength="50" appFocusOnEnter tabIndex="7">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'glaccount.currency' | translate }}</mat-label>
          <mat-select formControlName="currency" appFocusOnEnter tabIndex="9">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cncy of currencyList" [value]="cncy.id">
              {{cncy.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'glaccount.taxCategory'"></mat-label>
          <mat-select formControlName="taxCategory" appFocusOnEnter tabIndex="10"
            (selectionChange)="onCategoryChange()">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let taxc of taxCategorys" [value]="taxc.value">
              {{taxc.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'glaccount.bankKey' | translate }}</mat-label>
          <mat-select formControlName="bankKey" appFocusOnEnter tabIndex="11">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let bank of bankList" [value]="bank.id">
              {{bank.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label [translate]="'glaccount.legacyGl'"></mat-label>
          <input matInput formControlName="legacyGl" maxlength="50"
            appFocusOnEnter tabIndex="12">
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'glaccount.costElementCategory'"></mat-label>
          <mat-select formControlName="costElementCategory" appFocusOnEnter tabIndex="13">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cec of costElementCategorys" [value]="cec.value">
              {{cec.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'glaccount.controlAccount'"></mat-label>
          <mat-select formControlName="controlAccount" appFocusOnEnter tabIndex="14">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let act of accounts" [value]="act.value">
              {{act.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'glaccount.consolidatedAccount'"></mat-label>
          <mat-select formControlName="consolidatedAccount" appFocusOnEnter tabIndex="8">
            <mat-option>None</mat-option>
            <!-- <mat-option *ngFor="let act of accounts" [value]="act.value">
              {{act.viewValue}}
            </mat-option> -->
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle class="form-element mb-3" formControlName="noPostingAllowed" appFocusOnEnter tabIndex="15"
          style="vertical-align: bottom; margin-left: 5px;">
          No Posting Allowed
        </mat-slide-toggle>

        <mat-slide-toggle class="form-element mb-3" formControlName="clearingAccount" appFocusOnEnter tabIndex="16"
          style="vertical-align: bottom;margin-left: 20px;">
          Clearing Account
        </mat-slide-toggle>

        <mat-slide-toggle class="form-element mb-3" formControlName="relevantCashFlow" appFocusOnEnter tabIndex="17"
          style="vertical-align: bottom;margin-left: 20px;">
          Relevant Cash Flow
        </mat-slide-toggle>

      </div>
      <mat-divider></mat-divider>
    </form>
  </mat-card-content>

  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="25">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</div>