<div class="bg-white">

  <mat-tab-group>

    <form [formGroup]="modelFormData" autocomplete="off">

      <mat-tab label="{{'workcentercreation.title1' | translate }}">

        <mat-card-content class="py-5 p-2 m-0">

          <div class="d--flex">
            <mat-form-field>
              <mat-label [translate]="'workcentercreation.company'"></mat-label>
              <mat-select formControlName="company" appFocusOnEnter tabIndex="1">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                  {{comp.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'workcentercreation.plant'"></mat-label>
              <mat-select formControlName="plant" appFocusOnEnter tabIndex="2">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let plants of plantList" [value]="plants.id">
                  {{plants.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.workcenterType'"></mat-label>
              <mat-select formControlName="workcenterType" appFocusOnEnter tabIndex="3">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let work of workCenterTypeList" [value]="work.id ">
                  {{work.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.workcenterCode'"></mat-label>
              <input matInput formControlName="workcenterCode" appFocusOnEnter tabIndex="4">
            </mat-form-field>

            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.name'"></mat-label>
              <input matInput formControlName="name"
                appFocusOnEnter tabIndex="5">
            </mat-form-field>

          </div>
          <mat-divider></mat-divider>
        </mat-card-content>

      </mat-tab>

      <mat-tab label="{{'workcentercreation.title2' | translate }}">

        <mat-card-content class="py-5 p-2 m-0">

          <div class="d--flex">

            <mat-form-field>
              <mat-label [translate]="'workcentercreation.location'"></mat-label>
              <mat-select formControlName="location" appFocusOnEnter tabIndex="6">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let loc of locList" [value]="loc.id">
                  {{loc.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label [translate]="'workcentercreation.person'"></mat-label>
              <mat-select formControlName="person" appFocusOnEnter tabIndex="7">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let emp of empList" [value]="emp.id">
                  {{emp.id}}-{{emp.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field>
              <mat-label [translate]="'workcentercreation.usage'"></mat-label>
              <mat-select formControlName="usage" appFocusOnEnter tabIndex="8">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let usage of usageList" [value]="usage.id">
                  {{usage.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="remove-boader-bottom">
              <mat-label [translate]="'workcentercreation.autopostingGoods'"></mat-label>
              <mat-slide-toggle formControlName="autopostingGoods" appFocusOnEnter tabIndex="9"></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>

          </div>
          <mat-divider></mat-divider>
        </mat-card-content>

      </mat-tab>

      <mat-tab label="{{'workcentercreation.title3' | translate }}">

        <mat-card-content class="py-3">

          <app-dynamic-table [tableObJect]="dynTablePropsActivity" (emitColumnChanges)="emitColumnActivityData($event)"
            [dynamicTableUpdate]="sendActivityDynTableData">
          </app-dynamic-table>

          <mat-divider></mat-divider>

        </mat-card-content>

      </mat-tab>

      <mat-tab label="{{'workcentercreation.title4' | translate }}">

        <mat-card-content class="py-5 p-2 m-0">

          <div class="d--flex">

            <mat-form-field floatLabel="always" class="remove-boader-bottom">
              <mat-label [translate]="'workcentercreation.scheduling'"></mat-label>
              <mat-slide-toggle formControlName="scheduling" appFocusOnEnter tabIndex="15"></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="remove-boader-bottom">
              <mat-label [translate]="'workcentercreation.costDerivation'"></mat-label>
              <mat-slide-toggle formControlName="costDerivation" appFocusOnEnter tabIndex="16"></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="remove-boader-bottom">
              <mat-label [translate]="'workcentercreation.capacityReqirement'"></mat-label>
              <mat-slide-toggle formControlName="capacityReqirement"></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>

            <mat-form-field floatLabel="always" class="remove-boader-bottom">
              <mat-label [translate]="'workcentercreation.goodsReceiptPosting'"></mat-label>
              <mat-slide-toggle formControlName="goodsReceiptPosting" appFocusOnEnter tabIndex="17"></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>


            <mat-form-field floatLabel="always" class="remove-boader-bottom">
              <mat-label [translate]="'workcentercreation.qualityInspection'"></mat-label>
              <mat-slide-toggle formControlName="qualityInspection" appFocusOnEnter tabIndex="18"></mat-slide-toggle>
              <textarea matInput hidden></textarea>
            </mat-form-field>


          </div>

        </mat-card-content>

      </mat-tab>


      <mat-tab label="{{'workcentercreation.title5' | translate }}">

        <mat-card-content class="py-3">

          <app-dynamic-table [tableObJect]="dynTablePropsCapacity" (emitColumnChanges)="emitColumnCapacityData($event)"
            [dynamicTableUpdate]="sendCapacityDynTableData">
          </app-dynamic-table>

        </mat-card-content>

      </mat-tab>

      <mat-tab label="{{'workcentercreation.title6' | translate }}">

        <mat-card-content class="py-5 p-2 m-0">

          <div class="d--flex">
            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.moveTime'"></mat-label>
              <input matInput formControlName="moveTime"
                appFocusOnEnter tabIndex="27" (change)="calculateTime1()">
            </mat-form-field>
            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.waitTime'"></mat-label>
              <input matInput formControlName="waitTime"
                appFocusOnEnter tabIndex="28" (change)="calculateTime2()">
            </mat-form-field>
            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.queueTime'"></mat-label>
              <input matInput  formControlName="queueTime"
                appFocusOnEnter tabIndex="29" (change)="calculateTime3()">
            </mat-form-field>
            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.setupTime'"></mat-label>
              <input matInput formControlName="setupTime"
                appFocusOnEnter tabIndex="30" (change)="calculateTime4()">
            </mat-form-field>
            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.runTimeforEachUnit'"></mat-label>
              <input matInput  formControlName="runTimeforEachUnit" appFocusOnEnter tabIndex="31">
            </mat-form-field>
            <mat-form-field class="form-element">
              <mat-label [translate]="'workcentercreation.leadTime'"></mat-label>
              <input matInput formControlName="leadTime"
                appFocusOnEnter tabIndex="32" disabled="disabled">
            </mat-form-field>

          </div>
        </mat-card-content>
      </mat-tab>

    </form>

  </mat-tab-group>

  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="reset()" appFocusOnEnter tabIndex="21">
      {{ 'COMMON.RESET' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="22">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>

</div>