<mat-card>

    <mat-card-content>

        <div class="d-flex justify-content-end">
            <button class="mx-2" mat-raised-button (click)="print()">
                <mat-icon>print</mat-icon> Print
            </button>
        </div>

        <form [formGroup]="formData" autocomplete="off">

            <h6>
                Purchaseorder Master
                <hr>
            </h6>

            <div class="d--flex p-1 mat-form-field-height">

                <mat-form-field>
                    <mat-label>{{ 'purchaseorder.company' | translate }}</mat-label>
                    <mat-select formControlName="company">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let comp of companyList" [value]="comp.id">
                            {{comp.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- <mat-form-field>
                    <mat-label>{{'purchaseorder.plant' | translate }}</mat-label>
                    <mat-select formControlName="plant" appFocusOnEnter tabIndex="12">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let pnt of plantList" [value]="pnt.plantCode">
                            {{pnt.plantCode}} - {{pnt.plantname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field>
                    <mat-label>{{'purchaseorder.profitCenter' | translate }}</mat-label>
                    <mat-select formControlName="profitCenter" appFocusOnEnter tabIndex="6"
                        (selectionChange)="profitCenterChange();">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let pft of profitCenterList" [value]="pft.id">
                            {{pft.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'purchaseorder.purchaseOrderNumber' | translate }}</mat-label>
                                    <input matInput type="text" formControlName="purchaseOrderNumber" appFocusOnEnter tabIndex="4">
                </mat-form-field>


                <!-- <mat-form-field class="form-element">
                    <mat-label>{{ 'purchaseorder.branch' | translate }}</mat-label>
                    <mat-select formControlName="branch">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                            {{branch.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->


                <!-- <mat-slide-toggle formControlName="saleOrder"  class="d-flex m-3"   (change)="toggle($event.checked)">
                   Sale Order
                </mat-slide-toggle> -->

                <mat-form-field>
                    <mat-label>{{'purchaseorder.poType' | translate }}</mat-label>
                    <mat-select formControlName="saleOrder" appFocusOnEnter tabIndex="4"
                        (selectionChange)="toggle()">
                        <mat-option>None</mat-option>
                        <mat-option value="Sale Order"> Sale Order </mat-option>
                        <mat-option value="Master Saleorder"> Master Saleorder </mat-option>
                        <mat-option value="Bill of Material"> Bill of Material </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'purchaseorder.quotationNumber' | translate }}</mat-label>
                    <mat-select formControlName="saleOrderNo" appFocusOnEnter tabIndex="4"
                        (selectionChange)="quotationNumberChange()">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let qno of qnoList" [value]="qno.saleOrderNo">
                            {{qno.saleOrderNo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- <mat-form-field class="form-element">
                    <mat-label [translate]="'purchaseorder.quotationDate'"></mat-label>
                    <input matInput [matDatepicker]="picker" [nonEditable]="picker" formControlName="quotationDate"
                        appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->

                <mat-form-field>
                    <mat-label>{{'purchaseorder.purchaseOrderType' | translate }}</mat-label>
                    <mat-select formControlName="purchaseOrderType" appFocusOnEnter tabIndex="5">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let potype of porderList" [value]="potype.purchaseType">
                            {{potype.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field class="form-element">
                    <mat-label [translate]="'purchaseorder.purchaseOrderNumber'"></mat-label>
                    <input matInput type="number" formControlName="purchaseOrderNumber" maxlength="50" appFocusOnEnter
                        tabIndex="2">
                </mat-form-field> -->


                <mat-form-field class="form-element">
                    <mat-label [translate]="'purchaseorder.purchaseOrderDate'"></mat-label>
                    <input matInput [matDatepicker]="picker3" [nonEditable]="picker3"
                        formControlName="purchaseOrderDate" appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label [translate]="'purchaseorder.supplierCode'"></mat-label>
                    <mat-select formControlName="supplierCode" appFocusOnEnter tabIndex="2"
                        (selectionChange)="supplierCodeChange()">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let bptype of bpaList" [value]="bptype.text">
                            {{bptype.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field class="form-element">
                    <mat-label [translate]="'purchaseorder.gstno'"></mat-label>
                    <input matInput type="text" formControlName="gstno" maxlength="20" appFocusOnEnter tabIndex="2">
                </mat-form-field>


                <mat-form-field class="form-element">
                    <mat-label [translate]="'purchaseorder.deliveryDate'"></mat-label>
                    <input matInput [matDatepicker]="picker2" [nonEditable]="picker2" formControlName="deliveryDate"
                        appFocusOnEnter tabIndex="3">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>


                <!-- <mat-form-field class="form-element">
                    <mat-label [translate]="'purchaseorder.deliveryPeriod'"></mat-label>
                    <input matInput type="number" formControlName="deliveryPeriod" appFocusOnEnter tabIndex="2">
                </mat-form-field> -->

                <!-- 
                <mat-form-field>
                    <mat-label>{{'purchaseorder.termsofDelivery' | translate }}</mat-label>
                    <mat-select formControlName="termsofDelivery" appFocusOnEnter tabIndex="6">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let prod of termsofDeliveryList" [value]="prod.id">
                            {{prod.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'purchaseorder.paymentTerms' | translate }}</mat-label>
                    <mat-select formControlName="paymentTerms" appFocusOnEnter tabIndex="6">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let potype of ptermsList" [value]="potype.id">
                            {{potype.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="form-element">
                    <mat-label [translate]="'purchaseorder.advance'"></mat-label>
                    <input matInput type="number" formControlName="advance" appFocusOnEnter tabIndex="2">
                </mat-form-field>

                <!-- <input *ngIf="routeEdit == ''" id="file" type="file" class="form-control form__width"
                    (change)="uploadFile($event)"> -->

                <!-- <a *ngIf="routeEdit != ''" id="download-Screenshot" class="aTag" (click)="downloadImg()">
                    {{ formData.get('filePath').value }} </a> -->

            </div>

        </form>


        <div class="p-2 card">

            <h6>
                Purchaseorder Details
                <hr>
            </h6>

            <form [formGroup]="formData1" autocomplete="off" >



                <div class="d--flex p-1 mat-form-field-height justify-content-between align-items-end">

                    <div>
                        <mat-form-field class="form-element">
                            <mat-label [translate]="'purchaseorder.qty'"></mat-label>
                            <input matInput type="number" formControlName="qty" appFocusOnEnter tabIndex="12">
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <mat-label [translate]="'purchaseorder.rate'"></mat-label>
                            <input matInput type="number" formControlName="rate" appFocusOnEnter tabIndex="12">
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <mat-label>{{ 'saleorder.taxCode' | translate }}</mat-label>
                            <mat-select formControlName="taxCode" tabIndex="13">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let tax of taxCodeList" [value]="tax.taxRateCode">
                                    {{tax.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="mb-3">

                        <button mat-raised-button type="submit" class="button-color-bule mx-1 text-white"
                            (click)="saveForm()">
                            {{ 'COMMON.UPDATE' | translate }}
                        </button>
                        <button mat-raised-button class="button-color-red text-white mx-1" (click)="resetForm();">
                            {{ 'COMMON.RESET' | translate }}
                        </button>

                    </div>


                </div>

            </form>

            <div>
                <app-table class="table-css" [tableData]="tableData" [showFilters]="false"
                    (editOrDeleteEvent)="editOrDeleteEvent($event)">
                </app-table>
            </div>
        </div>

    </mat-card-content>

    <mat-card-content class="d-flex justify-content-end py-1">

        <div class="d-flex">
            <div class="px-1"> <span class="px-1"> <b>{{ 'saleorder.igst' | translate }} </b></span> :
                <b class="text-danger">{{ formData.value.igst }} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.cgst' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.cgst}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.sgst' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.sgst}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.amount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.amount}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.totalTax' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalTax}} </b>
            </div>
            <div class="px-1"> <span class="px-1"> <b> {{'saleorder.totalAmount' | translate }} </b></span> :
                <b class="text-danger"> {{ formData.value.totalAmount}} </b>
            </div>
        </div>

        <div>
            <button  mat-raised-button type="submit" class="button-color-bule mx-3 text-white"
                (click)="save()">
                {{ 'COMMON.SAVE' | translate }}
            </button>
            <button mat-raised-button class="button-color-red text-white mx-3" (click)="back();">
                {{ 'COMMON.BACK' | translate }}
            </button>
            <button [hidden]="routeEdit != ''" mat-raised-button class="button-color-red text-white mx-3"
                (click)="reset();">
                {{ 'COMMON.RESET' | translate }}
            </button>
            <button [hidden]="routeEdit == ''" mat-raised-button class="button-color-red text-white mx-3"
                (click)="return();">
                {{ 'COMMON.RETURN' | translate }}
            </button>
        </div>

    </mat-card-content>

</mat-card>