mat-form-field {
    margin: 5px;
    flex: 0 0 15.75%;
  }

.form__width {
  width: 20%;
  padding: 3px;
  margin: 7px;
}

.aTag {
  cursor: pointer;
  text-decoration: underline;
  padding: 26px 0px 0px 8px;
}