<div class="position-relative popup-class">
  <mat-card-title class="boader--color d-flex justify-content-between position-absolute w-100">
    <span> {{'erpuser.title' | translate }} </span>
    <mat-icon class="my-2 cursor--pointer" (click)="cancel()">close</mat-icon>
  </mat-card-title>

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto ">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="d--flex">

 
        <mat-form-field [ngClass]="{ 'ng--valid': formControls.userName.valid, 'ng--invalid': !formControls.userName.valid  }">
          <mat-label [translate]="'erpuser.userName'"></mat-label>
          <mat-select formControlName="userName">
            <mat-option *ngFor="let emp of employeesList" [value]="emp.id">
              {{emp.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formControls.userName.valid" [ngClass]="{ 'ng--invalid': !formControls.userName.valid  }">
            User Name is required</mat-error>
        </mat-form-field>


        <mat-form-field class="form-element"
          [ngClass]="{ 'ng--valid': formControls.password.valid, 'ng--invalid': !formControls.password.valid  }">
          <mat-label [translate]="'erpuser.password'"></mat-label>
          <input matInput formControlName="password" maxlength="50"
            appFocusOnEnter tabIndex="2">
          <mat-error *ngIf="!formControls.password.valid" [ngClass]="{ 'ng--invalid': !formControls.password.valid  }">
            Password is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'erpuser.role'"></mat-label>
          <mat-select formControlName="role" appFocusOnEnter tabIndex="3">
            <mat-option *ngFor="let role of RolesList" [value]="role.roleId">
              {{role.roleId}} - {{role.role}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label [translate]="'erpuser.companyCode'"></mat-label>
          <mat-select formControlName="companyCode" appFocusOnEnter tabIndex="5">
            <mat-option *ngFor="let comp of companyList" [value]="comp.companyCode">
              {{comp.companyCode}}- {{comp.companyName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex align-items-center p-2">
          <mat-slide-toggle formControlName="active" (change)="approveOrReject($event.checked)">
            {{(modelFormData.get('active').value != null) ? 'Active' : 'InActive '}}
          </mat-slide-toggle>
        </div>

      </div>
      <mat-divider></mat-divider>
    </form>
  </mat-card-content>

  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mx-1" (click)="cancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white mx-1" (click)="save()" appFocusOnEnter
      tabIndex="25">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>

</div>